---
deleted: true
layout: "base.njk"
eleventyExcludeFromCollections: true
---
<section class="v-center">
	<article class="h-entry page-wrapper">
		<a class="u-url p-name" href="{{ entry.url }}" hidden>Deleted</a>
		<p class="e-content text-center">Post deleted</p>
		<a href="/">Go home</a>
	</article>
</section>