{% extends "base.njk" %}

{% block content %}
<section class="page-wrapper">
	<h2>&nbsp;</h2>
	<article class="h-entry note">
		<div class="e-content">{{ content | safe }}</div>
		<div hidden>
			<a class="u-url" href="{{ page.url }}"></a>
			<a class="h-card p-author" href="{{ metadata.url }}">{{ metadata.author.name }}</a>
		</div>
		{% include "entry_footer.njk" %}
	</article>
</section>
{% endblock content %}
