{% extends "base.njk" %}

{% block content %}
<section class="page-wrapper">
	<article class="h-entry">
		<div class="p-author h-card" hidden>
			{% include "author.njk" %}
		</div>
		{%- set entry = page %}
		{% include "entry/details.njk" %}
		<h2 class="p-name">{{ title }}</h2>
		<time class="dt-published" datetime="{{ page.date | dateISO }}">{{ page.date | dateString }}</time>
		<div class="e-content">{{ content | safe }}</div>
		{% set prefix = 'p' %}
		{% include "entry/footer.njk" %}
	</article>
</section>
{% endblock content %}