---
title: tags
permalink: /tags/
---
{%- set tagList = collections.tagList %}
{%- set alphabetSorted = tagList | alphabetSort %}
<section>
	<h1>tags</h1>
	<nav class="text-center">
		{% for letter, tags in alphabetSorted -%}
		<a {{ 'href=#' + letter if tags.length }}>{{ letter }}</a>
		{%- endfor %}
	</nav>
	<div class="h-feed">
	{%- if tagList | length == 0 %}
		<p>There are no tags</p>
	{%- endif %}
	{%- for letter, tags in alphabetSorted -%}
		{% if tags.length > 0 %}
		<h4 id="{{ letter }}">{{ letter }}</h4>
		<ul role="list">
		{%- for tag in tags | sort %}
			{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
			<li><a href="{{ tagUrl | url }}">{{ tag }} ({{ tagList[tag].length }})</a></li>
		{%- endfor %}
		</ul>
		{% endif %}
	{%- endfor %}
	</div>
</section>