---
layout: base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
eleventyExcludeFromCollections: true
eleventyComputed:
  title: 'tagged "{{ tag }}"'
---
{%- set tagged = collections.tagList[ tag ] %}
<section class="page-wrapper">
	<h1><a href="/tags">..</a>/tags/{{ tag }}</h1>
	<div class="h-feed tag-list tag-items">
		{% for item in tagged | reverse %}
		<li><a href="{{ item.url | url }}">{{ item.data.title if item.data.title else item.url }}</a> - {{ item.data.date | dateString }}</li>
		{% endfor %}
	</div>
</section>