{% extends "base.njk" %}

{% block content %}
<section class="page-wrapper">
	<article class="h-entry">
		<h1>{{ title }}</h1>
		<div class="e-content">
			{{ content | safe }}
		</div>
	</article>
</section>
{% endblock content %}