<a class="poster u-url" href="{{ entry['url'] }}">
	<figure class="p-item h-product">
		<img class="u-photo" src="{{ poster.photo }}" />
		<figcaption class="p-name">{{ poster.name }}</figcaption>
		{%- if poster['url'] -%}
		<details hidden class="u-url">{{ poster.url }}</details>
		{%- endif -%}
	</figure>
</a>