{% extends "base.njk" %}

{% block content %}
<section class="page-wrapper">
	<article class="h-entry bookmark">
		<h2>&nbsp;</h2>
		{%- set entry = page %}
		{%- set categories = tags %}
		{% include "entry/details.njk" %}
		{%- set bookmark = 'bookmark-of' | getVariable %}
		{%- set bookmarkTitle = title %}
		{% include "entry/bookmark.njk" %}
		{% include "entry/footer.njk" %}
	</article>
</section>
{% endblock content %}