{% extends "base.njk" %}

{% block content %}
<section class="page-wrapper">
	<article class="h-entry post">
		<h2 class="p-name">{{ title }}</h2>
		{%- set entry = page %}
		{%- set categories = tags %}
		{% include "entry/details.njk" %}
		{%- set postDate = page.date %}
		{%- set postContent = content %}
		{% include "entry/post.njk" %}
		{% include "entry/footer.njk" %}
	</article>
</section>
{% endblock content %}