{% extends "base.njk" %}

{% block content %}
<section class="page-wrapper">
	<article class="h-entry">
		{%- set entry = page %}
		{%- set categories = tags %}
		{% include "entry/details.njk" %}
		{%- set bookmark = 'bookmark-of' | getVariable %}
		{%- set liked = 'like-of' | getVariable %}
		{%- set reply = 'in-reply-to' | getVariable %}
		{%- set readOf = 'read-of' | getVariable %}
		{%- set watchOf = 'watch-of' | getVariable %}
		{%- if liked %}
			<h1>&nbsp;</h1>
			{%- set likedTitle = title -%}
			{%- set entryType = 'like' -%}
			{% include "entry/like.njk" %}
		{%- elif bookmark %}
			{%- set entryType = 'bookmark' -%}
			<h1>&nbsp;</h1>
			{%- set bookmarkTitle = title %}
			{% include "entry/bookmark.njk" %}
		{%- elif rsvp %}
			{%- set entryType = 'rsvp' -%}
			<h1>&nbsp;</h1>
			{% include "entry/rsvp.njk" %}
		{%- elif readOf %}
			{%- set entryType = 'read' -%}
			<h1>&nbsp;</h1>
			{% include "entry/read.njk" %}
		{%- elif watchOf %}
			{%- set entryType = 'watched' -%}
			<h1>&nbsp;</h1>
			{% include "entry/watch.njk" %}
		{%- elif title %}
			{%- set entryType = 'article' -%}
			<h1 class="p-name">{{ title }}</h1>
			{%- set postDate = page.date %}
			{%- set postContent = content %}
			{% include "entry/article.njk" %}
		{%- else %}
			{%- if reply %}
			{%- set entryType = 'reply' %}
			{%- else %}
			{%- set entryType = 'note' %}
			{%- endif %}
			<h1>&nbsp;</h1>
			{%- set noteContent = content %}
			{%- include "entry/note.njk" -%}
		{%- endif %}
		{%- include "entry/footer.njk" %}
	</article>
</section>
{%- endblock content %}