<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>{{ metadata.url }}/</id>
	<title>{{ metadata.title }}</title>
	<updated>{{ entries | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<author>
		<name>{{ metadata.author.name }}</name>
		<uri>{{ metadata.author.url }}</uri>
	</author>
	<link xml:base="{{ metadata.url }}" href="/{{ permalink }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<icon>{{ metadata.icon }}</icon>
	<logo>{{ metadata.icon }}</logo>
	{%- for item in entries %}
	<entry>
		<id>{{ metadata.url }}{{ item.url }}</id>
		{%- if item.data['bookmark-of'] %}
		<title>Bookmarked {{ '"' + item.data.title + '"' if item.data.title else item.data['bookmark-of'] }}</title>
		{%- elif item.data['like-of'] %}
		<title>Liked {{ '"' + item.data.title + '"' if item.data.title else item.data['like-of'] }}</title>
		{%- elif item.data['in-reply-to'] %}
		<title>Reply to {{ item.data['in-reply-to'] }}</title>
		{%- elif item.data.title %}
		<title>{{ item.data.title }}</title>
		{%- elif item.data['watch-of'] and item.data.summary %}
		<title>{{ "Rewatched" if item.data['watch-of'].properties and item.data['watch-of'].properties.rewatch else "Watched" }} {{ item.data.summary }}</title>
		{%- else %}
		<title>
		{%- if item.data['summary'] -%}
		{{ item.data['summary'] | striptags | truncate(80) | trim | safe }}
		{%- else -%}
		{{ item.templateContent | striptags | truncate(80) | trim | safe }}
		{%- endif -%}
		</title>
		{%- endif %}
		<link href="{{ metadata.url }}{{ item.url }}"/>
		<updated>{{ item.date | dateToRfc3339 }}</updated>
		{%- set textContent -%}
			{%- if item.data['watch-of'] -%}
				{{ item.data['watch-of'].properties.content.html | stripScript | trim | safe }}
			{%- elif item.data['bookmark-of'] -%}
				Bookmarked {{ item.data['bookmark-of'] }}
			{%- elif item.data['like-of'] -%}
				Liked {{ item.data['like-of'] }}
			{%- elif item.data.summary -%}
				{{ item.data.summary }}
			{%- else -%}
				{{ item.templateContent | stripScript | trim }}
			{%- endif -%}
		{% endset %}
		<content type="html">{{ textContent }}</content>
		{%- for t in item.data.tags %}
		<category term="{{ t }}" scheme="{{ metadata.url }}/tags/{{ t | slugify }}" />
		{%- endfor %}
	</entry>
	{%- endfor %}
</feed>