<div class="footer-details">
	<div>Posted in&nbsp;
	{%- include "entry/icon.njk" -%}
	&nbsp;-&nbsp;</div>
	<a class="u-url dt-published" href="{{ entry.url }}" datetime="{{ entry.date | dateISO }}">{{ entry.date | dateString }}</a>
</div>