<div class="footer-details">
	<span>Posted in&nbsp;
	{%- include "entry/icon.njk" -%}
	&nbsp;-&nbsp;</span>
	<a class="u-url dt-published" href="{{ entry.url }}" datetime="{{ entry.date | dateISO }}">{{ entry.date | dateString }}</a>
</div>