---
layout: "base.njk"
eleventyExcludeFromCollections: true
---
<section class="page-wrapper">
	<h1>{{ title }}{%- if feedURL %}<a href="{{ feedURL }}"><img class="svg sm" src="/assets/phosphor/rss-simple.svg" alt="RSS feed"/></a>{% endif -%}</h1>
	<details class="text-right">
		<summary>Post Types</summary>
		<ul class="links">
			{%- set entryTypes = [ 'article', 'bookmark', 'like', 'note', 'read', 'reply', 'rsvp', 'watched' ] -%}
			{%- for entryType in entryTypes %}
			<li>{%- include "entry/icon.njk" -%}</li>
			{% endfor -%}
		</ul>
	</details>
	<div class="h-feed">
		{%- for entry in entries %}
			<article class="h-entry">
				{%- set syndication = entry.data.syndication %}
				{%- set syndicateTo = entry.data['syndicate-to'] %}
				{%- set readOf = entry.data['read-of'] %}
				{%- set watchOf = entry.data['watch-of'] %}
				{%- set summary = entry.data['summary'] %}
				{%- set categories = entry.data.tags %}
				{% include "entry/details.njk" %}
				{%- if entry.data['like-of'] -%}
					{%- set entryType = 'like' %}
					{%- set liked = entry.data['like-of'] %}
					{%- set likedTitle = entry.data.title %}
					{% include "entry/like.njk" %}
				{%- elif readOf %}
					{%- set entryType = 'read' %}
					{%- set cite = entry.data['read-of'] %}
					{% include "entry/read.njk" %}
				{%- elif watchOf %}
					{%- set entryType = 'watched' %}
					{%- set cite = entry.data['watch-of'] %}
					{% include "entry/watch.njk" %}
				{%- elif entry.data['bookmark-of'] -%}
					{%- set entryType = 'bookmark' %}
					{%- set bookmark = entry.data['bookmark-of'] %}
					{%- set bookmarkTitle = entry.data.title %}
					{% include "entry/bookmark.njk" %}
				{%- elif entry.data.rsvp -%}
					{%- set entryType = 'rsvp' %}
					{%- set rsvp = entry.data['rsvp'] %}
					{%- set reply = entry.data['in-reply-to'] %}
					{% include "entry/rsvp.njk" %}
				{%- elif entry.data.title -%}
					{%- set entryType = 'article' %}
					{% include "feed/article.njk" %}
				{%- else -%}
					{%- set reply = entry.data['in-reply-to'] %}
					{%- set noteContent = entry.templateContent %}
					{%- if reply %}
					{%- set entryType = 'reply' %}
					{%- else %}
					{%- set entryType = 'note' %}
					{%- endif %}
					{%- include "entry/note.njk" %}
				{%- endif -%}
				{% include "feed/footer.njk" %}
				<hr />
			</article>
		{%- else %}
		<h4>There are no entries</h4>
		{% endfor %}
	</div>
	{%- if pagination.pages.length > 1 %}
	<ul class="links">
		<li>
		{%- if pagination.href.previous %}
			<a href="{{ pagination.href.previous }}" rel="prev">←</a>
		{% else %}
			<a>←</a>
		{% endif -%}
		</li>
		<li>
		{%- if pagination.href.next %}
			<a href="{{ pagination.href.next }}" rel="next">→</a>
		{% else %}
			<a>→</a>
		{% endif -%}
		</li>
	</ul>
	{% endif -%}
</section>