---
layout: "base.njk"
eleventyExcludeFromCollections: true
---
<section class="page-wrapper">
	<h2>{{ title }}</h2>
	<div class="h-feed">
		{% for entry in entries %}
			<article class="h-entry">
				<div class="p-author h-card" hidden>
					{% include "author.njk" %}
				</div>
				{% set syndication = entry.data.syndication %}
				{% set categories = entry.data.tags %}
				{% include "entry/details.njk" %}
				{% if entry.data['like-of'] %}
					{% include "feed/like.njk" %}
				{% elif entry.data['bookmark-of'] %}
					{% include "feed/bookmark.njk" %}
				{% elif entry.data.title %}
					{% include "feed/post.njk" %}
				{% elif entry.data.rsvp %}
					{% include "feed/rsvp.njk" %}
				{% else %}
					{% include "feed/note.njk" %}
				{% endif %}
				<a class="u-url dt-published text-right" href="{{ entry.url }}" datetime="{{ entry.date | dateISO }}">{{ entry.date | dateString }}</a>
				<hr />
			</article>
		{% else %}
		<h4>There are no entries</h4>
		{% endfor %}
	</div>
	{% if pagination.pages.length > 1 %}
	<ul class="links">
		<li>
		{%- if pagination.href.previous %}
			<a href="{{ pagination.href.previous }}" rel="prev">←</a>
		{% else %}
			<a>←</a>
		{% endif -%}
		</li>
		<li>
		{%- if pagination.href.next %}
			<a href="{{ pagination.href.next }}" rel="next">→</a>
		{% else %}
			<a>→</a>
		{% endif -%}
		</li>
	{% endif %}
</section>
