{% set reply = entry.data['in-reply-to'] %}
{% if reply %}
<blockquote class="u-in-reply-to">
	<p><a class="u-url" href="{{ reply }}">{{ reply }}</a></p>
</blockquote>
{% endif %}
<div class="e-content">{{ entry.templateContent | safe }}</div>