<a class="u-url p-name {{- ' text-center' if not entry.data.summary and entry.data.page.excerpt }}" href="{{ entry.url }}">{{ entry.data.title }}</a>
{%- if entry.data.summary %}
	<div class="p-summary">{{ entry.data.summary }}</div>
{%- elif entry.data.page.excerpt %}
	<div class="p-summary">{{ entry.data.page.excerpt | md | safe }}</div>
	<a class="u-url text-right" href="{{ entry.url }}">Read More</a>
{%- endif -%}