<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:content="http://purl.org/rss/1.0/modules/content/">
	<channel>
		<title>{{ metadata.title }}</title>
		<link>{{ metadata.url }}</link>
		<description>{{ metadata.description }}</description>
		<managingEditor>{{ metadata.author.email }} ({{ metadata.author.name }})</managingEditor>
		<pubDate>{{ entries	 | getNewestCollectionItemDate | dateToRfc822 }}</pubDate>
		<image>
			<url>{{ metadata.url }}{{ metadata.icon }}</url>
			<title>{{ metadata.title }}</title>
			<link>{{ metadata.url }}</link>
		</image>
		<atom:link href="{{ metadata.url }}/{{ permalink }}" rel="self" type="application/rss+xml" />
		{%- for item in entries %}
		<item>
			{%- set itemTitle %}
				{%- if item.data['bookmark-of'] %}
				Bookmarked {{ '"' + item.data.title + '"' if item.data.title else item.data['bookmark-of'] }}
				{%- elif item.data['like-of'] %}
				Liked {{ '"' + item.data.title + '"' if item.data.title else item.data['like-of'] }}
				{%- elif item.data['in-reply-to'] %}
				Reply to {{ item.data['in-reply-to'] }}
				{%- elif item.data['u-watch-of'] and item.data.summary %}
				{{ "Rewatched" if item.data['u-watch-of'].properties and item.data['u-watch-of'].properties.rewatch else "Watched" }} {{ item.data.summary | safe }}
				{%- elif item.data.title %}
				{{ item.data.title }}
				{%- elif item.data['summary'] %} {# Should only be used for read-of #}
				{{ item.data['summary'] | striptags | truncate(80) | trim | safe }}
				{%- endif %}
			{%- endset %}
			{%- if itemTitle %}
			<title>{{ itemTitle | trim | safe }}</title>
			{%- else %}
			<title />
			{%- endif %}
			<link>{{ metadata.url }}{{ item.url }}</link>
			{%- set textContent %}
				{%- if item.data.summary %} {# Only for articles #}
				{{ item.data.summary | safe }}
				{%- elif item.data['bookmark-of'] %}
				Bookmarked {{ item.data['bookmark-of'] }}
				{%- elif item.data['like-of'] %}
				Liked {{ item.data['like-of'] }}
				{%- else %}
				{{ item.templateContent | striptags | trim }}
				{%- endif %}
			{%- endset %}
			{%- if textContent %}
			<description>{{ textContent | truncate(250) | trim | safe }}</description>
			{%- endif %}
			{%- set htmlContent %}
				{%- if item.data['u-watch-of'] %}
					{%- if item.data['u-watch-of'].properties.content %}
					{{ item.data['u-watch-of'].properties.content.html | stripScript | trim | safe }}
					{%- endif %}
				{%- elif item.data['bookmark-of'] %}
				Bookmarked <a href="{{ item.data['bookmark-of'] }}">{{ item.data['bookmark-of'] }}</a>
				{%- elif item.data['like-of'] %}
				Liked <a href="{{ item.data['like-of'] }}">{{ item.data['like-of'] }}</a>
				{%- else %}
				{{ item.templateContent | stripScript | trim | safe }}
				{%- endif %}
			{%- endset %}
			{%- if htmlContent | trim %}
			<content:encoded><![CDATA[{{ htmlContent | htmlToAbsoluteUrls(metadata.url) | trim | safe }}]]></content:encoded>
			{%- endif %}
			{%- for t in item.data.tags %}
			<category domain="{{ metadata.url }}/tags/{{ t | slugify }}">{{ t }}</category>
			{%- endfor %}
			<guid>{{ metadata.url }}{{ item.url }}</guid>
			<pubDate>{{ item.date | dateToRfc822 }}</pubDate>
		</item>
		{%- endfor %}
	</channel>
</rss>