<section class="page-wrapper">
	<h1>{{ title }}</h1>
	<div class="h-feed posters">
		{%- for entry in entries %}
			{%- set watched = entry.data['watch-of'].properties -%}
			{%- set watchedYear -%}{{ entry.date | dateToFormat('yyyy') }}{%- endset -%}
			{%- set watchedMonth -%}{{ entry.date | dateToFormat('MMM') }}{%- endset -%}
			{%- if title == "watched" and watchedYear != year %}
			{%- set year = watchedYear -%}
			<h2><a href="/watched/{{ year }}/">{{ year }}</a></h2>
			{%- endif -%}
			{%- if watchedMonth != month %}
			{%- set month = watchedMonth -%}
			<h3>{{ month }}</h3>
			{%- endif -%}
			<div class="h-review">
				{%- if entry.data['summary'] -%}
				<details hidden class="p-summary">{{ entry.data['summary'] }}</details>
				{%- endif -%}
				<a class="poster u-url" href="{{ entry['url'] }}">
					<figure class="p-item h-product">
						<img class="u-photo" src="{{ watched['photo'] }}" />
						<figcaption class="p-name">{{ watched['name'] }}</figcaption>
						{%- if watched['url'] -%}
						<details hidden class="u-url">{{ watched['url'] }}</details>
						{%- endif -%}
					</figure>
				</a>
				{%- if entry.data['rating'] -%}
				<a href="/watched/rated/{{ entry.data['rating'] | float }}" class="p-rating" value="{{ entry.data['rating'] }}">{{ entry.data['rating'] | toStars }}</a>
				{%- endif -%}
				{%- if entry.data['rewatch'] == true or entry.data['rewatch'] == "true" -%}
				<img class="svg sm rewatched" src="/assets/fa/repeat-solid.svg" alt="Rewatched"/>
				{%- endif -%}
				{%- if entry.data['syndication'] -%}
				<a rel="syndication noreferrer" class="u-syndication" href="{{ entry.data['syndication'] }}"></a>
				{%- endif -%}
			</div>
		{%- endfor -%}
	</div>
</section>