---
permalink: feed.json
eleventyExcludeFromCollections: true
---
{
	"version": "https://jsonfeed.org/version/1",
	"title": "{{ metadata.title }}",
	"home_page_url": "{{ metadata.url }}",
	"feed_url": "{{ metadata.jsonfeed.url }}",
	"description": "{{ metadata.description }}",
	"favicon": "{{ metadata.favicon }}",
	"icon": "{{ metadata.icon }}",
	"author": {
		"name": "{{ metadata.author.name }}",
		"url": "{{ metadata.author.url }}",
		"avatar": "{{ metadata.author.image }}"
	},
	"items": [
		{%- for item in collections.all | reverse | limit(20) %}
		{
			"id": "{{ metadata.url }}{{ item.url }}",
			"url": "{{ metadata.url }}{{ item.url }}",
			"title": "{{ item.data.title if item.data.title else (item.templateContent | striptags | truncate(25) | trim) }}",
			"content_html": {{ item.templateContent | jsonStringify | safe }},
			"date_published": "{{ item.date | dateISO }}"
			{%- if item.data.tags -%}
			,
			"tags": [
				"{{ item.data.tags | join('", "') | safe }}"
			]
			{%- endif %}
		}
		{%- if not loop.last -%}
		,
		{%- endif -%}
		{%- endfor %}
	]
}
