---
permalink: feed.json
eleventyExcludeFromCollections: true
---
{% set jsonfeed %}
{%- for feed in metadata.feeds -%}
{%- if feed.type == "application/json" %}{{ feed.href }}{% endif -%}
{%- endfor -%}
{% endset %}
{
	"version": "https://jsonfeed.org/version/1",
	"title": "{{ metadata.title }}",
	"home_page_url": "{{ metadata.url }}",
	"feed_url": "{{ jsonfeed }}",
	"description": "{{ metadata.description }}",
	"favicon": "{{ metadata.favicon }}",
	"icon": "{{ metadata.icon }}",
	"author": {
		"name": "{{ metadata.author.name }}",
		"url": "{{ metadata.author.url }}",
		"avatar": "{{ metadata.author.image }}"
	},
	"items": [
		{%- for item in collections.feed | reverse | limit(20) %}
		{
			"id": "{{ metadata.url }}{{ item.url }}",
			"url": "{{ metadata.url }}{{ item.url }}",
			{%- if item.data.title %}
			"title": "{{ item.data.title }}",
			{%- elif item.data['in-reply-to'] %}
			"title": "Replying to {{ item.data['in-reply-to'] }}",
			{%- endif %}
			"content_text": "{{ item.templateContent | striptags | truncate(280) | trim | safe }}",
			"content_html": {{ item.templateContent | jsonStringify | safe }},
			"date_published": "{{ item.date | dateISO }}"
			{%- if item.data.tags -%}
			,
			"tags": [
				"{{ item.data.tags | join('", "') | safe }}"
			]
			{%- endif %}
		}
		{%- if not loop.last -%}
		,
		{%- endif -%}
		{%- endfor %}
	]
}
