---
title: links
permalink: /links/
---

<details class="text-right" open>
	<summary>Related pages</summary>
	<ul role="list">
		<li><a href="/linkroll">{blog,pod,link}roll</a></li>
	</ul>
</details>

<h2>Bookmarks <a href="/bookmarks" title="See more">{% svg "icons.svg#arrow-right", "See more bookmarks" %}</a></h2>
{% set bookmarks = collections.bookmarks | reverse | limit(5) -%}
<div class="h-feed">
	{%- set postType = 'bookmark' -%}
	{% for entry in bookmarks %}
		{%- set linkURL = entry.data['bookmark-of'] %}
		{%- set linkTitle = entry.data.title %}
		{%- set linkContent = entry.templateContent %}
		{% include "partials/entry/link.njk" %}
		<hr />
	{%- else %}
	<h4>There are no bookmarks</h4>
	{% endfor %}
	<hr />
</div>

<h2>Likes <a href="/likes" title="See more">{% svg "icons.svg#arrow-right", "See more liked posts" %}</a></h2>
{% set likes = collections.likes | reverse | limit(5) -%}
<div class="h-feed">
	{%- set postType = 'like' -%}
	{% for entry in likes %}
		{%- set linkURL = entry.data['like-of'] %}
		{%- set linkTitle = entry.data.title %}
		{% include "partials/entry/link.njk" %}
		<hr />
	{%- else %}
	<h4>There are no likes</h4>
	{% endfor %}
</div>