---
title: links
permalink: /links/
---

<p>This feed combines my <a href="/bookmarks">/bookmarks</a> and <a href="/likes">/likes</a>.
If you're looking for my links, you can check out my <a href="/contact">/contact</a>
or <a href="/verify">/verify</a> pages to see what are my actual profiles <i>elsewhere</i>.</p>
<p>I also have a <a href="/linkroll">{blog,pod,link}roll</a> to other sites or
podcasts I follow.</p>

<hr class="sm">

{% set links = collections.links | reverse | limit(10) -%}
<div class="h-feed">
	{% for entry in links %}
		{%- set linkURL = entry.data['bookmark-of'] or entry.data['like-of'] %}
		{%- set postType = 'bookmark' if entry.data['bookmark-of'] else 'like' -%}
		{%- set linkTitle = entry.data.title %}
		{%- set linkContent = entry.templateContent %}
		{% include "partials/entry/link.njk" %}
		<hr>
	{%- else %}
	<h4>There are no links</h4>
	{% endfor %}
</div> 
