---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
{%- set rss %}
{%- for feed in metadata.feeds -%}
{%- if feed.type == "application/atom+xml" %}{{ feed.href }}{% endif -%}
{%- endfor -%}
{% endset -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>{{ metadata.url }}/</id>
	<title>{{ metadata.title }}</title>
	<updated>{{ collections.feed | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<author>
		<name>{{ metadata.author.name }}</name>
		<uri>{{ metadata.author.url }}</uri>
	</author>
	<link href="{{ rss }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<icon>{{ metadata.icon }}</icon>
	<logo>{{ metadata.icon }}</logo>
	{%- for item in collections.feed | reverse | limit(20) %}
	<entry>
		<id>{{ metadata.url }}{{ item.url }}</id>
		{%- if item.data.title %}
		<title>{{ item.data.title }}</title>
		{%- elif item.data['in-reply-to'] %}
		<title>Reply to {{ item.data['in-reply-to'] }}</title>
		{%- elif item.data['watch-of'] and item.data.summary %}
		<title>{{ "Rewatched" if item.data['watch-of'].properties and item.data['watch-of'].properties.rewatch else "Watched" }} {{ item.data.summary}}</title>
		{%- else %}
		<title>
		{%- if item.data['summary'] -%}
		{{ item.data['summary'] | striptags | truncate(80) | trim | safe }}
		{%- else -%}
		{{ item.templateContent | striptags | truncate(80) | trim | safe }}
		{%- endif -%}
		<title>{{ itemTitle }}</title>
		{%- endif %}
		<link href="{{ metadata.url }}{{ item.url }}"/>
		<updated>{{ item.date | dateToRfc3339 }}</updated>
		<content type="html">{{ item.templateContent | stripScript | trim }}</content>
		{%- for t in item.data.tags %}
		<category term="{{ t }}" scheme="{{ metadata.url }}/tags/{{ t | slugify }}" />
		{%- endfor %}
	</entry>
	{%- endfor %}
</feed>
