---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>{{ metadata.url }}/</id>
	<title>{{ metadata.title }}</title>
	<updated>{{ collections.all | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<author>
		<name>{{ metadata.author.name }}</name>
		<uri>{{ metadata.author.url }}</uri>
	</author>
	<link href="{{ metadata.rss.url }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<icon>{{ metadata.icon }}</icon>
	<logo>{{ metadata.icon }}</logo>
	{%- for item in collections.all | reverse | limit(20) %}
	<entry>
		<id>{{ metadata.url }}{{ item.url }}</id>
		{% if item.data.title -%}
			{%- if item.data['like-of'] -%}
			<title>Liked "{{ item.data.title }}"</title>
			{%- else -%}
			<title>{{ item.data.title }}</title>
			{%- endif -%}
		{%- else -%}
			<title>{{ item.templateContent | striptags | truncate(25) | trim }}</title>
		{%- endif %}
		<link href="{{ metadata.url }}{{ item.url }}"/>
		<updated>{{ item.date | dateToRfc3339 }}</updated>
		<content type="html">{{ item.templateContent | stripScript | trim }}</content>
		{%- for t in item.data.tags %}
		<category term="{{ t }}" scheme="{{ metadata.url }}/tags/{{ t | slug }}" />
		{%- endfor %}
	</entry>
	{%- endfor %}
</feed>
