---
permalink: twtxt.txt
eleventyExcludeFromCollections: true
---
{%- set shortUrl = metadata.shortUrl | replace(r/^https?:\/\//, '') %}
{%- for item in collections.all | reverse %}
{%- set linkPrefix %}{% prefix item.url %}{% endset %}
{%- set shortlink = item.url | shortlink %}
{%- set pagelink = shortUrl + '/' + linkPrefix + shortlink %}
{%- set itemTitle -%}
	{%- if item.data.title -%}
		{%- if item.data['like-of'] -%}
		Liked: "{{ item.data.title }}"
		{%- else -%}
		{{ item.data.title }}
		{%- endif -%}
	{%- else -%}
	{{ item.templateContent | safe | striptags | truncate(100) | trim }}
	{%- endif -%}
{%- endset -%}
{#- Can also use dateToRfc3339 but the one below seems to be more commonly used -#}
{{ item.date | dateISO | replace(r/\.[0-9]{3}/, '') }}	{{ itemTitle | safe }}{{ ' | ' + pagelink if shortlink else '' }}
{% endfor -%}
