---
permalink: twtxt.txt
eleventyExcludeFromCollections: true
---
{%- set shortUrl = metadata.shortUrl | replace(r/^https?:\/\//, '') %}
{%- for item in collections.feed | reverse %}
{%- set linkPrefix %}{% prefix item.url %}{% endset %}
{%- set shortlink = item.url | shortlink %}
{%- set pagelink = shortUrl + '/' + linkPrefix + shortlink %}
{%- set entryContent -%}
	{%- if item.data.title -%}
	{{ item.data.title }}
	{%- else -%}
		{%- if item.data.summary -%}
			{%- if item.data['watch-of'] -%}
			{{ "Rewatched " if item.data['watch-of'].properties and item.data['watch-of'].properties.rewatch else "Watched " }}
			{%- endif -%}
			{{ item.data.summary | striptags | truncate(140) | trim | safe }}
		{%- else -%}
			{{ item.templateContent | striptags | truncate(140) | trim | safe }}
		{%- endif -%}
	{%- endif -%}
{%- endset -%}
{#- Can also use dateToRfc3339 but the one below seems to be more commonly used -#}
{{ item.date | dateISO | replace(r/\.[0-9]{3}/, '') }}	{{ entryContent | safe }}{{ ' | ' + pagelink if shortlink else '' }}
{% endfor -%}
