<details hidden>
	<a class="u-url" href="{{ entry.url }}"></a>
	<time class="dt-published" datetime="{{ entry.date | dateISO }}">{{ entry.date | dateISO }}</time>
	{% for s in syndication %}
		<a rel="syndication noreferrer" class="u-syndication" href="{{ s }}"></a>
	{% endfor %}
	{% for cat in categories -%}
		<a class="p-category" href="/tag/{{ cat | slug }}">{{ cat }}</a>
	{% endfor %}
</details>