<footer class="entry-footer">
	<hr />
	<div class="date-link">
		<time class="dt-published" datetime="{{ page.date | dateISO }}">{{ page.date | dateString }}</time>
		{%- set shortUrl =  metadata.shortUrl + "/" + shortLink %}
		<a href="{{ shortUrl }}" class="shortlink" rel="shortlink">{{ shortUrl | replace(r/^https?:\/\//, "") }}</a>
	</div>
	{%- if updated %}
	<div class="date-link">
		<span>Last updated: <time class="dt-updated" datetime="{{ updated | dateISO }}">{{ updated | dateString }}</time></span>
	</div>
	{% endif -%}
	<ul class="tags">
		{%- for tag in tags %}
		<li><a class="p-category" href="/tags/{{ tag | slug }}">{{ tag }}</a></li>
		{%- endfor %}
	</ul>
</footer>