---
pagination:
  data: collections.notes
  size: 1
  alias: note
permalink: "{{ note.shortLink }}/"
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<meta http-equiv=refresh content="0; url={{ note.url }}">