<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>{{ metadata.url }}/</id>
	<title>{{ metadata.title }}</title>
	<updated>{{ entries | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<author>
		<name>{{ metadata.author.name }}</name>
		<uri>{{ metadata.author.url }}</uri>
	</author>
	<link xml:base="{{ metadata.url }}" href="/{{ permalink }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<icon>{{ metadata.url }}{{ metadata.icon }}</icon>
	<logo>{{ metadata.url }}{{ metadata.icon }}</logo>
	{%- for item in entries %}
	<entry>
		<id>{{ metadata.url }}{{ item.url }}</id>
		<title>{{ (item.data.rssTitle or item.data.title) | safe }}</title>
		<link href="{{ metadata.url }}{{ item.url }}"/>
		<updated>{{ item.date | dateToRfc3339 }}</updated>
		{%- set summary = (item.summary or item.templateContent or item.title) | plaintext | striptags | trim | safe | truncate(250) %}
		{%- if summary and (summary | length) %}
		<summary>{{ summary }}</summary>
		{%- endif %}
		<content type="html">{{ item.data.rssContentPrefix }}{{ item.content | renderTransforms(item.data.page, metadata.url) | trim }}</content>
		{%- for t in item.data.tags %}
		<category term="{{ t }}" scheme="{{ metadata.url }}/tags/{{ t | slug }}" />
		{%- endfor %}
	</entry>
	{%- endfor %}
</feed>