<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>{{ metadata.url }}/</id>
	<title>{{ metadata.title }}</title>
	<updated>{{ entries | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<author>
		<name>{{ metadata.author.name }}</name>
		<uri>{{ metadata.author.url }}</uri>
	</author>
	<link xml:base="{{ metadata.url }}" href="/{{ permalink }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<icon>{{ metadata.url }}{{ metadata.icon }}</icon>
	<logo>{{ metadata.url }}{{ metadata.icon }}</logo>
	{%- for item in entries %}
	<entry>
		<id>{{ metadata.url }}{{ item.url }}</id>
		{%- set itemTitle %}
			{%- if item.data['bookmark-of'] %}
			Bookmarked {{ '"' + item.data.title + '"' if item.data.title else item.data['bookmark-of'] }}
			{%- elif item.data['like-of'] %}
			Liked {{ '"' + item.data.title + '"' if item.data.title else item.data['like-of'] }}
			{%- elif item.data['in-reply-to'] %}
			Reply to {{ item.data['in-reply-to'] }}
			{%- elif item.data['listen-of'] %}
			{{ item.data.summary }}
			{%- elif item.data.title %}
			{{ item.data.title }}
			{%- elif item.data['summary'] %}
			{{ item.data['summary'] | striptags | trim | safe }}
			{%- endif %}
		{%- endset %}
		{%- if itemTitle %}
		<title>{{ itemTitle | trim | safe }}</title>
		{%- else %}
		<title />
		{%- endif %}
		<link href="{{ metadata.url }}{{ item.url }}"/>
		<updated>{{ item.date | dateToRfc3339 }}</updated>
		{%- set textContent %}
			{%- if item.data.summary %}
			{{ item.data.summary | safe }}
			{%- elif item.templateContent %}
			{{ item.templateContent | stripCustom('pre') | stripCustom('script') | stripCustom('style') | striptags | trim | safe }}
			{%- else %}
			{{ itemTitle | safe }}
			{% endif %}
		{%- endset %}
		{%- if textContent %}
		<summary>{{ textContent | truncate(250) | trim | safe }}</summary>
		{%- endif %}
		{%- set htmlContent %}
			{%- if item.data['watch-of'] or item.data['listen-of'] %}
				{%- set citeOf = item.data['watch-of'].properties or item.data['listen-of'].properties %}
				<a href="{{ citeOf.url }}"><img src="{{ citeOf.photo }}" /></a>
			{%- elif item.data['bookmark-of'] %}
			Bookmarked <a href="{{ item.data['bookmark-of'] }}">{{ item.data['bookmark-of'] }}</a>
			{%- elif item.data['like-of'] %}
			Liked <a href="{{ item.data['like-of'] }}">{{ item.data['like-of'] }}</a>
			{%- endif %}
			{%- for photo in item.data['photo'] %}
			{%- include "../partials/photo.njk" -%}
			{%- endfor %}
			{{ item.templateContent | stripCustom('style') | stripCustom('script') | trim | safe }}
		{%- endset %}
		{%- if htmlContent | trim %}
		<content type="html"><![CDATA[{{ htmlContent | htmlToAbsoluteUrls(metadata.url) | trim | safe }}]]></content>
		{%- endif %}
		{%- for t in item.data.tags %}
		<category term="{{ t }}" scheme="{{ metadata.url }}/tags/{{ t | slug }}" />
		{%- endfor %}
	</entry>
	{%- endfor %}
</feed>