<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{%- if deleted %}
		<meta http-equiv="Status" content="410 Gone">
		{% endif %}

		{%- block pagetitle %}
		<title>{% if title and not deleted %}{{ title }} | {% endif %}{{ metadata.title }}</title>
		{% endblock -%}

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/build/css/main.min.css">
		<meta name="color-scheme" content="dark light">
		<!-- GENERAL -->
		<meta name="googlebot" content="noindex">
		<meta name="author" content="{{ metadata.author.name }}">
		<meta name="description" content="{{ summary or metadata.description }}">
		<meta name="theme-color" content="#131415">
		{%- if metadata.keywords %}
		<meta name="keywords" content="{{ metadata.keywords }}">
		{% endif %}
	{%- if not deleted %}
		<!-- ogp.me -->
		<meta property="og:site_name" content="{{ metadata.title }}">
		<meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
		{%- block opengraph %}
		<meta property="og:title" content="{{ title }}">
		<meta property="og:image" content="{{ metadata.url }}{{ metadata.icon }}">
		<meta property="og:description" content="{{ summary }}">
		{% endblock -%}
		<meta property="og:type" content="website">
		<meta property="og:locale" content="en_US">
	{%- endif %}
	{%- if metadata.meta %}
		{%- for meta in metadata.meta %}
		<meta name="{{ meta.name }}" content="{{ meta.content }}">
		{%- endfor %}
	{%- endif %}
		<!-- ICONS -->
		<link rel="manifest" href="/manifest.webmanifest">
		<link rel="apple-touch-icon" href="/icon-180.png">
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="icon" href="/assets/88x31.gif" sizes="88x31">
		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<!-- FEED -->
		{%- for feed in metadata.feeds %}
		<link rel="{{ feed.rel }}" href="{{ feed.href }}" type="{{ feed.type }}" title="{{ feed.title }}">
		{%- endfor %}
		<!-- RELs -->
		{%- for rel, href in metadata.rels %}
		<link rel="{{ rel }}" href="{{ href }}">
		{%- endfor %}
		<link rel="me" href="https://web.brid.gy/{{ metadata.author.url }}">
		<link rel="blogroll" type="text/xml" href="/blogroll.opml">
		<link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
		<link type="text/plain" rel="author" href="/humans.txt" >
	{%- if postType == 'article' %}
		<link rel="preload" as="fetch" href="https://octothorp.es/?uri={{ metadata.url }}{{ page.url }}">
		{%- for t in tags %}
		<link rel="octo:octothorpes" href="{{ t | slug }}" >
		{%- endfor %}
		<link rev="octo:octothorpes" href="*">
	{%- endif %}
		{#- <meta http-equiv="refresh" content="1507; url=/🍪"> #}
	</head>
	<body id="top">
		<input id="theme-switch" type="checkbox">
		<div class="wrapper">
			<header>
				<nav class="text-center">
					{% if page.url != '/' %}<a href="/">~</a>{% endif %}
					{%- for nav in ['feed', 'read', 'watched', 'links', 'photos', 'tags'] -%}
						<a rel="feed" class="{{ 'selected' if page.url == '/' + nav + '/' }}" href="/{{ nav }}">{{ nav }}</a>
						{%- if nav != 'tags' %}•{% endif %}
					{%- endfor %}
					<label for="theme-switch">
						{% svg "icons.svg#sun", "Switch to light mode", "light-switch" %}
						{% svg "icons.svg#moon", "Switch to dark mode", "dark-switch" %}
					</label>
				</nav>
			</header>
			<main>
				{%- block content %}
				{{ content | safe }}
				{% endblock content -%}
			</main>
			<footer>
				<hr>
				<div class="social">
					{%- if page.url != '/' %}
					<div hidden>{% include "partials/h-card.njk" %}</div>
					{% endif -%}
					<a class="u-email" rel="me" title="Email"
						href="mailto:{{ metadata.author.email }}">{% svg "icons.svg#envelope-simple", "email" %}</a><!--
				--><a class="u-key" rel="pgpkey" title="Public Key"
						href="/pub.asc" aria-label="public key">{% svg "icons.svg#key", "Public Key" %}</a><!--
				--><a class="u-url" rel="me noreferrer" title="Mastodon"
						href="https://corteximplant.com/@benji">{% svg "social.svg#mastodon", "Mastodon" %}</a><!--
				--><a class="u-url" rel="me noreferrer" title="GitHub"
						href="https://github.com/benjifs">{% svg "social.svg#github-logo", "GitHub" %}</a>
				</div><!--
			--><div class="social">
					<a href="#top" title="Back to Top">{% svg "icons.svg#arrow-up", "Back to top" %}</a><!--
				--><a href="https://github.com/benjifs/benji/tree/main/{{ page.inputPath }}" title="Source Code">{% svg "types.svg#code", "Source code" %}</a><!--
				--><a class="{{ 'selected' if page.url == '/about/' }}" href="/about" title="About Me">{% svg "icons.svg#info", "about" %}</a><!--
				--><a href="/feeds" title="Feeds">{% svg "icons.svg#rss-simple", "Feeds" %}</a>
				</div>
				<div class="webrings text-center">
					<!-- INDIEWEB RING -->
					<div>
						<a href="https://xn--sr8hvo.ws/previous" title="previous">←</a> 🕸💍 <a href="https://xn--sr8hvo.ws/next" title="next">→</a>
					</div>
					<!-- XXIIVV WEBRING -->
					<a href="https://webring.xxiivv.com/#benji">
						<img class="xxiivv" src="/assets/webring.white.svg" alt="xxiivv webring">
					</a>
					<!-- 1.44MB WEBRING -->
					<a href="https://1.44mb.club/random">💾</a>
				</div>
			</footer>
			{# {% include "partials/fun/winter.njk" %} -#}
			<script>
				if ("serviceWorker" in navigator) {
					navigator.serviceWorker.register("/sw.js");
				}
			</script>
			<script src="/build/js/ee.min.js"></script>
			<script src="/build/js/light.min.js"></script>
			<!--
			D'`_qp>\m}k92hTBSttOO`Mnm+*)YFEVe{c.aP`*)\[wvo5Vlqpih.fkd*hgIHdcb[!B^]\UyYX:PUNr5KPOHGkEJCBG@d>=<A@9]=<543W7654-Qr*No',%$)"!E2
			-->
		</div>
	</body>
</html>
