<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{%- if deleted %}
		<meta http-equiv="Status" content="410 Gone" />
		{% endif %}

		{% block pagetitle %}
		<title>{% if title and not deleted %}{{ title }} | {% endif %}{{ metadata.title }}</title>
		{% endblock%}

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/build/css/main.min.css">

		<!-- GENERAL -->
		<meta name="googlebot" content="noindex">
		<meta name="author" content="{{ metadata.author.name }}">
		<meta name="description" content="{{ metadata.description }}">
		{%- if metadata.keywords %}
		<meta name="keywords" content="{{ metadata.keywords }}">
		{% endif %}
	{%- if not deleted %}
		<!-- ogp.me -->
		<meta property="og:site_name" content="{{ metadata.title }}">
		<meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
		{% block opengraph %}
		<meta property="og:title" content="{{ title }}">
		<meta property="og:image" content="{{ metadata.url }}{{ metadata.icon }}">
		<meta property="og:description" content="{{ summary }}">
		{% endblock %}
		<meta property="og:type" content="website">
		<meta property="og:locale" content="en_US">
	{%- endif %}
		<!-- ICONS -->
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
		<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#000000">
		<link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/assets/icons/favicon-64x64.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
		<meta name="msapplication-config" content="/browserconfig.xml">
		<meta name="theme-color" content="#1f1f1f">
		<link rel="shortcut icon" href="/favicon.ico">

		<!-- FEED -->
		{%- for feed in metadata.feeds %}
		<link rel="{{ feed.rel }}" href="{{ feed.href }}" type="{{ feed.type }}" title="{{ feed.title }}">
		{%- endfor %}

		<!-- RELs -->
		{%- for rel, href in metadata.rels %}
		<link rel="{{ rel }}" href="{{ href }}">
		{%- endfor %}
		<link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
		<link type="text/plain" rel="author" href="/humans.txt" />
	</head>
	<body id="top">
		<input id="theme-switch" type="checkbox">
		<div class="wrapper">
			<header>
				<nav class="text-center">
					{%- if not home -%}
					<a href="/">~</a>
					{%- endif -%}<!--
					--><a class="{{ 'selected' if title == 'about' }}" href="/about">about</a><!--
					--><a class="{{ 'selected' if title == '/now' }}" href="/now">now</a><!--
					--><a rel="feed" class="{{ 'selected' if title == 'feed' }}" href="/feed">feed</a><!--
					--><a class="{{ 'selected' if title == 'tags' }}" href="/tags">tags</a>
					<label for="theme-switch">
						<img id="light-switch" class="svg sm" src="/assets/phosphor/sun.svg" aria-label="Switch to light mode" />
						<img id="dark-switch" class="svg sm" src="/assets/phosphor/moon.svg" aria-label="Switch to dark mode" />
					</label>
				</nav>
			</header>
			<main>
				{%- block content %}
				{{ content | safe }}
				{% endblock content -%}
			</main>
			<script>
				if ("serviceWorker" in navigator) {
					navigator.serviceWorker.register("/sw.js");
				}
			</script>
			<script src="/build/js/main.min.js"></script>
			<!--
			D'`_qp>\m}k92hTBSttOO`Mnm+*)YFEVe{c.aP`*)\[wvo5Vlqpih.fkd*hgIHdcb[!B^]\UyYX:PUNr5KPOHGkEJCBG@d>=<A@9]=<543W7654-Qr*No',%$)"!E2
			-->
			<svg version="1.1" width="0" height="0">
				<filter id="neonglow" height="300%" width="300%" x="-75%" y="-75%">
					<feMorphology operator="dilate" radius="1" in="SourceAlpha" result="thicken" />
					<feGaussianBlur in="thicken" stdDeviation="3" result="blurred" />
					<feFlood flood-color="#f492a5" result="glowColor" />
					<feComposite in="glowColor" in2="blurred" operator="in" result="softGlow_colored" />
					<feMerge>
						<feMergeNode in="softGlow_colored"/>
						<feMergeNode in="SourceGraphic"/>
					</feMerge>
				</filter>
				<filter id="neonglow2" height="300%" width="300%" x="-75%" y="-75%">
					<feMorphology operator="dilate" radius="1" in="SourceAlpha" result="thicken" />
					<feGaussianBlur in="thicken" stdDeviation="5" result="blurred" />
					<feFlood flood-color="#6ecff6" result="glowColor" />
					<feComposite in="glowColor" in2="blurred" operator="in" result="softGlow_colored" />
					<feMerge>
						<feMergeNode in="softGlow_colored"/>
						<feMergeNode in="SourceGraphic"/>
					</feMerge>
				</filter>
			</svg>
			<div class="winter">
			{%- for i in range(0, 5) -%}
				{%- for j in ['&#9826;', '&#183;', '&#8280;',  '&#10052;', '&#10023;'] %}
				<span class="snowflake" style="left: {{ range(2, 98) | random }}%; font-size: {{ (range(8, 15) | random) / 10 }}em; opacity: {{ (range(5, 10) | random) / 10 }}; animation-delay: {{ range(2, 15) | random }}s; animation-duration: {{ range(12, 18) | random }}s, {{ range(6, 12) | random }}s;">{{ j | safe }}</span>
				{%- endfor %}
			{%- endfor %}
				<span class="berm">
					<a href=".">Call Mr. Plow: 555-3226</a>
				</span>
			</div>
		</div>
	</body>
</html>
