<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{%- if deleted %}
		<meta http-equiv="Status" content="410 Gone" />
		{% endif %}

		{%- block pagetitle %}
		<title>{% if title and not deleted %}{{ title }} | {% endif %}{{ metadata.title }}</title>
		{% endblock -%}

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/build/css/main.min.css">
		<!-- GENERAL -->
		<meta name="googlebot" content="noindex">
		<meta name="author" content="{{ metadata.author.name }}">
		<meta name="description" content="{{ metadata.description }}">
		{%- if metadata.keywords %}
		<meta name="keywords" content="{{ metadata.keywords }}">
		{% endif %}
	{%- if not deleted %}
		<!-- ogp.me -->
		<meta property="og:site_name" content="{{ metadata.title }}">
		<meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
		{%- block opengraph %}
		<meta property="og:title" content="{{ title }}">
		<meta property="og:image" content="{{ metadata.url }}{{ metadata.icon }}">
		<meta property="og:description" content="{{ summary }}">
		{% endblock -%}
		<meta property="og:type" content="website">
		<meta property="og:locale" content="en_US">
	{%- endif %}
		<!-- ICONS -->
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
		<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#000000">
		<link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/assets/icons/favicon-64x64.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
		<meta name="msapplication-config" content="/browserconfig.xml">
		<meta name="theme-color" content="#1f1f1f">
		<link rel="shortcut icon" href="/favicon.ico">
		<!-- FEED -->
		{%- for feed in metadata.feeds %}
		<link rel="{{ feed.rel }}" href="{{ feed.href }}" type="{{ feed.type }}" title="{{ feed.title }}">
		{%- endfor %}
		<!-- RELs -->
		{%- for rel, href in metadata.rels %}
		<link rel="{{ rel }}" href="{{ href }}">
		{%- endfor %}
		<link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
		<link type="text/plain" rel="author" href="/humans.txt" />
	</head>
	<body id="top">
		<input id="theme-switch" type="checkbox">
		<div class="wrapper">
			<header>
				<nav class="text-center">
					{% if page.url != '/' %}<a href="/">~</a>{% endif %}
					{%- for nav in ['feed', 'read', 'watched', 'links', 'photos', 'tags'] -%}
						<a rel="feed" class="{{ 'selected' if page.url == '/' + nav + '/' }}" href="/{{ nav }}">{{ nav }}</a>
						{%- if nav != 'tags' %}•{% endif %}
					{%- endfor %}
					<label for="theme-switch">
						<img id="light-switch" class="svg sm" src="/assets/phosphor/sun.svg" title="Switch to light mode" aria-label="Switch to light mode" />
						<img id="dark-switch" class="svg sm" src="/assets/phosphor/moon.svg" title="Switch to dark mode" aria-label="Switch to dark mode" />
					</label>
				</nav>
			</header>
			<main>
				{%- block content %}
				{{ content | safe }}
				{% endblock content -%}
			</main>
			<footer>
				<hr />
				<section class="social">
					<a target="_blank" title="Email"
						data-mailto="dmVkLmFkYWxhY25lQGlqbmVi"
						style="display: none;"><img class="svg sm" src="/assets/phosphor/envelope-simple.svg" alt="email" /></a><!--
				--><a class="u-key" rel="pgpkey noreferrer" title="Public Key"
						href="/pub.asc" type="application/pgp-keys" aria-label="public key"><img class="svg sm" src="/assets/phosphor/key.svg" alt="7EBF 284E 2F90 ABB9" /></a><!--
				--><a class="u-url" href="acct:benji.dog@benji.dog" hidden></a><!--
				--><a class="u-url" rel="me noreferrer" title="Mastodon"
						href="https://fosstodon.org/@benji"
						target="_blank"><img class="svg sm" src="/assets/phosphor/mastodon.svg" alt="mastodon" /></a><!--
				--><a class="u-url" rel="me noreferrer" title="Instagram"
						href="https://instagram.com/bnjfs"
						target="_blank"><img class="svg sm" src="/assets/phosphor/instagram-logo.svg" alt="instagram" /></a><!--
				--><a class="u-url" rel="me noreferrer" title="LinkedIn"
						href="https://linkedin.com/in/benjiencalada"
						target="_blank"><img class="svg sm" src="/assets/phosphor/linkedin-logo.svg" alt="linkedin" /></a><!--
				--><a class="u-url" rel="me noreferrer" title="GitHub"
						href="https://github.com/benjifs"
						target="_blank"><img class="svg sm" src="/assets/phosphor/github-logo.svg" alt="github" /></a><!--
				--><a class="u-url" rel="me noreferrer" href="https://gitlab.com/benjifs" hidden></a>
					<!-- -->
					<span style="float: right;">
						<a href="#top" title="Back to Top"><img class="svg sm" src="/assets/phosphor/arrow-up.svg" alt="Back to Top" /></a><!--
					--><a href="https://github.com/benjifs/benji/tree/main/{{ page.inputPath }}" target="_blank" title="Source Code"><img class="svg sm" src="/assets/phosphor/code.svg" alt="Source Code" /></a><!--
					--><a class="{{ 'selected' if page.url == '/about/' }}" href="/about" title="About Me"><img class="svg sm" src="/assets/phosphor/info.svg" alt="about" /></a><!--
					--><a href="/feed.xml" title="RSS Feed"><img class="svg sm" src="/assets/phosphor/rss-simple.svg" alt="RSS Feed" /></a>
					</span>
				</section>
				<section class="webring text-center">
					<!-- INDIEWEB RING -->
					<a href="https://xn--sr8hvo.ws/previous" title="previous">←</a> 🕸💍 <a href="https://xn--sr8hvo.ws/next" title="next">→</a>
				</section>
				<section class="webring text-center">
					<!-- XXIIVV WEBRING -->
					<a href="https://webring.xxiivv.com/#benji" target="_blank" rel="noopener">
						<img class="svg" src="/assets/webring.white.svg" alt="xxiivv webring" />
					</a>
				</section>
			</footer>
			<script>
				if ("serviceWorker" in navigator) {
					navigator.serviceWorker.register("/sw.js");
				}
			</script>
			<script src="/build/js/main.min.js"></script>
			<!--
			D'`_qp>\m}k92hTBSttOO`Mnm+*)YFEVe{c.aP`*)\[wvo5Vlqpih.fkd*hgIHdcb[!B^]\UyYX:PUNr5KPOHGkEJCBG@d>=<A@9]=<543W7654-Qr*No',%$)"!E2
			-->
			<svg version="1.1" width="0" height="0">
				<filter id="neonglow" height="300%" width="300%" x="-75%" y="-75%">
					<feMorphology operator="dilate" radius="1" in="SourceAlpha" result="thicken" />
					<feGaussianBlur in="thicken" stdDeviation="3" result="blurred" />
					<feFlood flood-color="#f492a5" result="glowColor" />
					<feComposite in="glowColor" in2="blurred" operator="in" result="softGlow_colored" />
					<feMerge>
						<feMergeNode in="softGlow_colored"/>
						<feMergeNode in="SourceGraphic"/>
					</feMerge>
				</filter>
				<filter id="neonglow2" height="300%" width="300%" x="-75%" y="-75%">
					<feMorphology operator="dilate" radius="1" in="SourceAlpha" result="thicken" />
					<feGaussianBlur in="thicken" stdDeviation="5" result="blurred" />
					<feFlood flood-color="#6ecff6" result="glowColor" />
					<feComposite in="glowColor" in2="blurred" operator="in" result="softGlow_colored" />
					<feMerge>
						<feMergeNode in="softGlow_colored"/>
						<feMergeNode in="SourceGraphic"/>
					</feMerge>
				</filter>
			</svg>
		</div>
	</body>
</html>
