---
layout: layouts/vcenter.njk
---
<article class="h-entry">
	<a class="u-url p-name" href="{{ page.url }}" hidden>Deleted</a>
	<p class="e-content">Post deleted</p>
	<a href="/">Go home</a>
</article>