---
layout: layouts/base.njk
---
<section class="v-center">
	<article class="h-entry">
		<a class="u-url p-name" href="{{ page.url }}" hidden>Deleted</a>
		<p class="e-content text-center">Post deleted</p>
		<p class="text-center"><a href="/">Go home</a></p>
	</article>
</section>