{
	"version": "https://jsonfeed.org/version/1",
	"title": "{{ metadata.title }}",
	"home_page_url": "{{ metadata.url }}",
	"feed_url": "{{ jsonfeed }}",
	"description": "{{ metadata.description }}",
	"favicon": "{{ metadata.favicon }}",
	"icon": "{{ metadata.icon }}",
	"author": {
		"name": "{{ metadata.author.name }}",
		"url": "{{ metadata.author.url }}",
		"avatar": "{{ metadata.author.photo }}"
	},
	"items": [
		{%- for item in entries %}
		{
			"id": "{{ metadata.url }}{{ item.url }}",
			"url": "{{ metadata.url }}{{ item.url }}",
			{%- set itemTitle %}
				{%- if item.data['bookmark-of'] %}
				Bookmarked {% if item.data.title %}\"{{ item.data.title }}\"{% else %}{{ item.data['bookmark-of'] }}{% endif %}
				{%- elif item.data['like-of'] %}
				Liked {% if item.data.title %}\"{{ item.data.title }}\"{% else %}{{ item.data['like-of'] }}{% endif %}
				{%- elif item.data['in-reply-to'] %}
				Reply to {{ item.data['in-reply-to'] }}
				{%- elif item.data.title %}
				{{ item.data.title }}
				{%- elif item.data['summary'] %}
				{{ item.data['summary'] | striptags | trim | safe }}
				{%- endif %}
			{%- endset %}
			{%- if itemTitle %}
			"title": "{{ itemTitle | trim | safe }}",
			{%- endif %}
			{%- set textContent %}
				{%- if item.data.summary %}
				{{ item.data.summary | safe | replace("\"", "\\\"") }}
				{%- elif item.templateContent %}
				{{ item.templateContent | stripOthers | striptags | trim | safe }}
				{%- else %}
				{{ itemTitle | safe }}
				{% endif %}
			{%- endset %}
			{%- if textContent %}
			"content_text": "{{ textContent | trim | safe }}",
			{%- endif %}
			"date_published": "{{ item.date | dateISO }}"
			{%- if item.data.updated -%}
			,
			"date_modified": "{{ item.data.updated | dateISO }}"
			{%- endif %}
			{%- if item.data.tags -%}
			,
			"tags": [
				"{{ item.data.tags | join('", "') | safe }}"
			]
			{%- endif %}
		}
		{%- if not loop.last -%}
		,
		{%- endif -%}
		{%- endfor %}
	]
}