{
	"version": "https://jsonfeed.org/version/1",
	"title": "{{ metadata.title }}",
	"home_page_url": "{{ metadata.url }}",
	"feed_url": "{{ jsonfeed }}",
	"description": "{{ metadata.description }}",
	"favicon": "{{ metadata.favicon }}",
	"icon": "{{ metadata.icon }}",
	"author": {
		"name": "{{ metadata.author.name }}",
		"url": "{{ metadata.author.url }}",
		"avatar": "{{ metadata.author.photo }}"
	},
	"items": [
		{%- for item in entries %}
		{
			"id": "{{ metadata.url }}{{ item.url }}",
			"url": "{{ metadata.url }}{{ item.url }}",
			"title": "{{ (item.data.rssTitle or item.data.title) | safe }}",
			{%- set contentText = (item.summary or item.templateContent or item.title) | plaintext | striptags | trim | safe %}
			{%- if contentText and (contentText | length) %}
			"content_text": "{{ contentText }}",
			{%- endif %}
			"date_published": "{{ item.date | dateISO }}"
			{%- if item.data.updated %},
			"date_modified": "{{ item.data.updated | dateISO }}"
			{%- endif %}
			{%- if item.data.tags %},
			"tags": [
				"{{ item.data.tags | join('", "') | safe }}"
			]
			{%- endif %}
		}
		{%- if not loop.last -%}
		,
		{%- endif -%}
		{%- endfor %}
	]
}