{% extends "layouts/base.njk"%}
{% block content %}
<section>
	{% include "partials/entry.njk" %}
</section>
{% endblock %}
{% block pagetitle %}
<title>{% if rssTitle or title or summary %}{{ rssTitle or title or summary }} | {% endif %}{{ metadata.title }}</title>
{% endblock %}
{% block opengraph %}
{%- if title %}
<meta property="og:title" content="{{ title }}">
{% endif %}
{%- set image = featured or metadata.icon %}
{%- set photos = 'photo' | getVariable %}
{%- if photos and (photos | length) > 0 %}
{%- set image = photo[0].value or photo[0] %}
{% endif %}
<meta property="og:image" content="{% if image[0] == '/' %}{{ metadata.url }}{% endif %}{{ image }}">
<meta property="og:description" content="{{ summary if summary else content | plaintext | striptags | truncate(200) }}">
<link rel="embed" href="{{ page.url }}embed">
{% endblock %}