<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:source="http://source.scripting.com/">
	<channel>
		<title>{{ metadata.title }}</title>
		<link>{{ metadata.url }}</link>
		<description>{{ metadata.description }}</description>
		<managingEditor>{{ metadata.author.email }} ({{ metadata.author.name }})</managingEditor>
		<pubDate>{{ entries | getNewestCollectionItemDate | dateToRfc822 }}</pubDate>
		<image>
			<url>{{ metadata.url }}{{ metadata.icon }}</url>
			<title>{{ metadata.title }}</title>
			<link>{{ metadata.url }}</link>
		</image>
		<atom:link href="{{ metadata.url }}/{{ permalink }}" rel="self" type="application/rss+xml" />
		<source:blogroll>{{ metadata.url }}/blogroll.opml</source:blogroll>
		{%- for item in entries %}
		<item>
			<title>{{ (item.data.rssTitle or item.data.title) | safe }}</title>
			<link>{{ metadata.url }}{{ item.url }}</link>
			<comments>{{ metadata.url }}{{ item.url }}#interactions</comments>
			{%- set description = (item.summary or item.templateContent or item.title) | plaintext | striptags | trim | safe | truncate(250) %}
			{%- if description and (description | length) %}
			<description>{{ description }}</description>
			{%- endif %}
			<content:encoded><![CDATA[{{ item.data.rssContentPrefix | safe }}{{ item.content | renderTransforms(item.data.page, metadata.url) | safe }}]]></content:encoded>
			{%- for t in item.data.tags %}
			<category domain="{{ metadata.url }}/tags/{{ t | slug }}">{{ t }}</category>
			{%- endfor %}
			<guid>{{ metadata.url }}{{ item.url }}</guid>
			<pubDate>{{ item.date | dateToRfc822 }}</pubDate>
		</item>
		{%- endfor %}
	</channel>
</rss>