
.icon-rsvp:before { content: '\e800'; } /* '' */
.icon-like:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-srht:before { content: '\e805'; } /* '' */
.icon-watched:before { content: '\e806'; } /* '' */
.icon-sun:before { content: '\e807'; } /* '' */
.icon-moon:before { content: '\e808'; } /* '' */
.icon-bookmark:before { content: '\f097'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-article:before { content: '\f0f6'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-note:before { content: '\f24a'; } /* '' */
