---
title: articles
layout: layouts/list.njk
pagination:
  data: collections.articles
  size: 10
  alias: entries
  reverse: true
permalink: "articles{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber }}{% endif %}/"
---
