---
title: bookmarks
layout: layouts/base.njk
feedURL: "/bookmarks.xml"
pagination:
  data: collections.bookmarks
  size: 10
  alias: entries
  reverse: true
permalink: "bookmarks{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber }}{% endif %}/"
---
<section>
	<h1>{{ title }}{%- if feedURL %}<a href="{{ feedURL }}" title="RSS Feed"><img class="svg sm" src="/assets/phosphor/rss-simple.svg" alt="RSS feed"/></a>{% endif -%}</h1>
	{%- include "partials/postTypes.njk" -%}
	<div class="h-feed">
		{%- for entry in entries %}
		<article class="h-entry">
			{%- set bookmark = entry.data['bookmark-of'] %}
			<details hidden>
				<div class="p-author h-card">{% include "partials/author.njk" %}</div>
				<p class="p-summary">Bookmarked {{ entry.data.title or bookmark }}</p>
			</details>
			<p><a class="u-bookmark-of{{ ' h-cite' if entry.data.title }}" href="{{ bookmark }}">{{ entry.data.title or bookmark }}</a></p>
			{%- if entry.templateContent %}
			<div class="e-content">
				{{- entry.templateContent | safe -}}
			</div>
			{% endif -%}
			<footer class="text-right">
				<ul class="tags">
					{% for tag in entry.data.tags -%}
					<li><a class="p-category" href="/tags/{{ tag | slug }}">{{ tag }}</a></li>
					{%- endfor %}
				</ul>
				<a class="u-url" href="{{ entry.url }}"><time class="dt-published" datetime="{{ entry.date | dateISO }}">{{ entry.date | dateString }}</time></a>
			</footer>
			<hr />
		</article>
		{%- else %}
		<h4>There are no bookmarks</h4>
		{% endfor %}
	</div>
	{%- include "partials/pagination.njk" -%}
</section>