---
title: likes
layout: layouts/list.njk
pagination:
  data: collections.likes
  size: 10
  alias: entries
  reverse: true
permalink: "likes{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber }}{% endif %}/"
---
