---
title: notes
layout: layouts/list.njk
pagination:
  data: collections.notes
  size: 10
  alias: entries
  reverse: true
permalink: "notes{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber }}{% endif %}/"
---
