---
title: replies
layout: layouts/list.njk
pagination:
  data: collections.replies
  size: 10
  alias: entries
  reverse: true
permalink: "replies{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber }}{% endif %}/"
---
