---
title: rsvp
layout: layouts/list.njk
pagination:
  data: collections.rsvp
  size: 10
  alias: entries
  reverse: true
permalink: "rsvp{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber }}{% endif %}/"
---
