---
layout: "feed/list.njk"
title: "watched"
pagination:
  data: collections.watched
  size: 10
  alias: entries
  reverse: true
eleventyExcludeFromCollections: true
permalink: "watched{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber }}{% endif %}/"
---
