{% if isFeed %}
<a class="u-url p-name" href="{{ entry.url }}">{{ entry.data.title }}</a>
{%- if entry.data.summary %}
<p class="p-summary">{{ entry.data.summary }}</p>
{%- endif -%}
{% else -%}
<h1 class="p-name">{{ title or entry.data.title }}</h1>
{%- endif %}