{%- set bookmarkOf = ('bookmark-of' | getVariable) or entry.data['bookmark-of'] %}
{%- set pageTitle = entry.data.title or (title != 'bookmarks' and title) %}
<p class="p-summary">Bookmarked <a class="u-bookmark-of{{ ' h-cite' if pageTitle }}" href="{{ bookmarkOf }}">{{ pageTitle or bookmarkOf }}</a></p>
