{%- set bookmarkOf = ('bookmark-of' | getVariable) or entry.data['bookmark-of'] %}
<p class="p-summary">Bookmarked <a class="u-bookmark-of{{ ' h-cite' if title }}" href="{{ bookmarkOf }}">{{ title or bookmarkOf }}</a></p>