{% if isFeed %}
<h2 class="p-name">{{ entry.data.title }}</h2>
{% else %}
<h1 class="p-name">{{ title or entry.data.title }}</h1>
{% endif %}
<p class="p-summary">{{ summary or entry.data.summary }}</p>
<a href="{{ page.url }}raw">raw code</a>