<style>
    h2 { text-transform: capitalize }
    table {
        margin: initial;
        width: 100%;
    }
    th { display: none }
    table td { padding: .25em }
    tr td:first-child { width: 2ch }
    tr td:last-child { width: 150px; text-align: right }
    table img {
        display: inline-block;
        max-width: 20px;
        margin-left: 2px;
    }
    details {
      padding: 1em 0;
      textarea {
        width: 100%;
        height: 500px;
      }
    }
</style>
<h1>{{ title }}</h1>
{% if featured %}
<img src="{{ featured }}" width=250>
{% endif %}
{% for category, cards in decklist %}
<section>
  <h2>{{ category }}</h2>
  <table>
    {%- for card in cards %}
    <tr>
        {% set c = (card | split('|')) %}
        <td>{{ c[0] }}</td>
    <td><a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{ c[1] | urlencode }}">{{ c[1] }}</a></td>
    <td>
            {%- for mana in c[2] -%}
            <img src="https://svgs.scryfall.io/card-symbols/{{ mana }}.svg" alt="{{ mana }}">
            {%- endfor -%}
    </td>
    </tr>
    {% endfor %}
  </table>
</section>
{% endfor %}
<details>
	<summary>Copy List</summary>
<textarea>
{%- for category, cards in decklist %}
	{%- for card in cards %}
{%- set c = (card | split('|')) %}
{{ c[0] }} {{ c[1] }}
	{%- endfor %}
{%- endfor %}
</textarea>
</details>