<div hidden>
	{% include "partials/h-card.njk" %}
	{%- set syndication = entry.data['syndication'] or ('syndication' | getVariable) %}
	{%- for s in syndication | toArray %}
	<a rel="syndication" class="u-syndication" href="{{ s }}"></a>
	{%- endfor %}
	{%- set syndicateTo = entry.data['syndicate-to'] or ('syndicate-to' | getVariable) %}
	{%- for s in syndicateTo %}
	<a rel="syndication" class="u-syndication" href="{{ s }}"></a>
	{%- endfor %}
	{%- set summary = entry.data.summary or ('summary' | getVariable) -%}
	{%- if summary -%}
	<p class="p-summary">{{ summary }}</p>
	{%- endif %}
</div>