<div hidden>
	{% include "partials/h-card.njk" %}
	{%- set syndication = entry.data['syndication'] or ('syndication' | getVariable) %}
	{%- for s in syndication | toArray %}
	<a rel="syndication" class="u-syndication" href="{{ s }}"></a>
	{%- endfor %}
	{%- set syndicateTo = entry.data['syndicate-to'] or ('syndicate-to' | getVariable) or entry.data['mp-syndicate-to'] or ('mp-syndicate-to' | getVariable)%}
	{%- for s in (syndicateTo | toArray) %}
	<a rel="syndication" class="u-syndication" href="{{ s }}"></a>
	{%- endfor %}
	{%- set featured = entry.data.featured or ('featured' | getVariable) -%}
	{%- if featured %}
	<img class="u-featured" src="{{ featured }}" alt="Featured image">
	{%- endif %}
	{%- set summary = entry.data.summary or ('summary' | getVariable) -%}
	{%- if summary -%}
	<p class="p-summary">{{ summary }}</p>
	{%- endif %}
</div>