<details hidden>
	<div class="p-author h-card">
		{% include "partials/author.njk" %}
	</div>
	{%- for s in syndication | toArray %}
	<a rel="syndication noreferrer" class="u-syndication" href="{{ s }}"></a>
	{%- endfor %}
	{%- if not syndicateTo -%}
		{%- set syndicateTo = 'syndicate-to' | getVariable %}
	{%- endif -%}
	{%- for s in syndicateTo %}
	<a rel="syndication noreferrer" class="u-syndication" href="{{ s }}"></a>
	{%- endfor %}
	{%- for cat in categories %}
	<a class="p-category" href="/tag/{{ cat | slugify }}">{{ cat }}</a>
	{%- endfor %}
	{%- set featured = entry.data.featured or ('featured' | getVariable) -%}
	{%- if featured %}
	<img class="u-featured" src="{{ featured }}" />
	{%- endif %}
	{%- set summary = entry.data.summary or ('summary' | getVariable) -%}
	{%- if summary -%}
	<p class="p-summary">{{ summary }}</p>
	{%- endif -%}
</details>