<footer>
	<hr>
	{%- set pageDate = page.date | dateString %}
	<div class="footer-details">
		<span>
			Posted in&nbsp;
			{%- include "partials/icon.njk" -%}
			&nbsp;on&nbsp;<time class="dt-published" datetime="{{ page.date | dateISO }}">{{ pageDate }}</time>
		</span>
		{%- set linkPrefix %}{% prefix postType %}{% endset %}
		{%- set shortlink = page.url | shortlink %}
		{%- set pagelink = metadata.shortUrl + '/' + linkPrefix + shortlink %}
		<a href="{{ pagelink }}" rel="shortlink" class="text-right">{{ pagelink | replace(r/^https?:\/\//, '') }}</a>
	</div>
	{%- if updated %}
		{%- set updatedDate = updated | dateString %}
		{%- if pageDate != updatedDate %}
		<div class="footer-details">
			<span>Last updated: <time class="dt-updated" datetime="{{ updated | dateISO }}">{{ updatedDate }}</time></span>
		</div>
		{% endif %}
	{%- endif %}
	<ul class="tags">
		{% for tag in tags -%}
		<li><a class="p-category" href="/tags/{{ tag | slug }}">{{ tag }}</a></li>
		{%- endfor %}
	</ul>
	{#- Generalize this to accept any client_id -#}
	{%- if client_id == "https://sparkles.sploot.com/" %}
	<div class="footer-details">
		<span>This post was published using <a href="{{ client_id }}">sparkles</a></span>
	</div>
	{%- endif %}
	{%- include "partials/entry/webmentions.njk" %}
</footer>