{%- set likeOf = ('like-of' | getVariable) or entry.data['like-of'] %}
{%- set pageTitle = entry.data.title or (title != 'likes' and title) %}
<p class="p-summary">Liked <a class="u-like-of{{ ' h-cite' if pageTitle }}" href="{{ likeOf }}">{{ pageTitle or likeOf }}</a></p>
