{%- set listenOf = ('listen-of' | getVariable) or entry.data['listen-of'] -%}
{%- if listenOf -%}
<section class="u-listen-of h-cite">
	<p>Listened to&nbsp;
	{%- if listenOf['url'] -%}
	<a class="u-url" href="{{ listenOf['url'] }}"><span class="p-name">{{ listenOf['name'] }}</span></a>
	{%- else -%}
	<span class="p-name">{{ listenOf['name'] }}</span>
	{%- endif -%}
	&nbsp;by <span class="p-author">{{ listenOf['author'] }}</span>
	{%- if listenOf['uid'] -%}
	<span class="p-uid" hidden>{{ listenOf['uid'] }}</span>
	{%- endif -%}
	{%- if listenOf.photo %}
	<p><img class="u-photo" src="{{ listenOf.photo }}" alt="{{ listenOf.name }} by {{ listenOf.author }} cover"></p>
	{% endif -%}
</section>
	{% if listenOf['url'] %}
	<div class="e-content">
		<a href="{{ listenOf['url'] }}">{{ listenOf['url'] }}</a>
	</div>
	{% endif %}
{%- elif summary %}
<p class="p-summary">{{ summary | safe }}</p>
{%- endif %}