{%- set listenOf = ('listen-of' | getVariable) or entry.data['listen-of'] -%}
{%- set cite = listenOf.properties -%}
{%- if cite -%}
<section class="u-listen-of h-cite">
	<p>Listened to&nbsp;
	{%- if cite['url'] -%}
	<a class="u-url" href="{{ cite['url'] }}"><span class="p-name">{{ cite['name'] }}</span></a>
	{%- else -%}
	<span class="p-name">{{ cite['name'] }}</span>
	{%- endif -%}
	&nbsp;by <span class="p-author">{{ cite['author'] }}</span>
	{%- if cite['uid'] -%}
	<span class="p-uid" hidden>{{ cite['uid'] }}</span>
	{%- endif -%}
	{%- if cite.photo %}
	<p><img class="u-photo" src="{{ cite.photo }}" alt="{{ cite.name }} by {{ cite.author }} cover" /></p>
	{% endif -%}
</section>
	{% if cite['url'] %}
	<div class="e-content">
		<a href="{{ cite['url'] }}">{{ cite['url'] }}</a>
	</div>
	{% endif %}
{%- elif summary %}
<p class="p-summary">{{ summary | safe }}</p>
{%- endif %}