{%- if replyTo %}
<blockquote class="p-summary">
	<p>Reply to <a class="u-in-reply-to" href="{{ replyTo }}">{{ replyTo }}</a></p>
</blockquote>
{%- endif -%}
{%- for photo in photos %}
{%- set fullsize = true -%}
{%- include "../photo.njk" -%}
{%- endfor %}