{%- set readOf = ('read-of' | getVariable) or entry.data['read-of'] -%}
{%- set cite = readOf.properties -%}
{%- set progress = progress if progress else entry.data.progress -%}
{# {%- set rating = rating if rating else entry.data.rating -%} #}
{%- set noteContent = content if content -%} {# entry.content if you want to show e-content in list view #}
{%- set status = {
	want: 'Want to read',
	started: 'Reading',
	finished: 'Read'
} -%}
{%- if cite -%}
<section>
	<data class="p-x-progress" value="{{ progress }}">{{ status[progress] }}</span>
	<span class="p-read-of h-cite">
		{%- if cite['url'] -%}
		<a class="u-url" href="{{ cite['url'] }}"><span class="p-name">{{ cite['name'] | safe }}</span></a>
		{%- else -%}
		<span class="p-name">{{ cite['name'] }}</span>
		{%- endif -%}
		&nbsp;by <span class="p-author">{{ cite['author'] }}</span>
		{%- if cite['published'] -%}
		<time class="dt-published" hidden>{{ cite['published'] }}</time>
		{%- endif -%}
		{%- if cite['uid'] -%}
		<span class="p-uid" hidden>{{ cite['uid'] }}</span>
		{%- endif -%}
		{%- if cite.photo %}
		<p><img class="u-photo" src="{{ cite.photo }}" alt="{{ cite.name }} by {{ cite.author }} cover" /></p>
		{% endif -%}
	</span>
</section>
{%- elif summary %}
<div class="p-summary">{{ summary | safe }}</div>
{%- endif %}