{%- set readOf = ('read-of' | getVariable) or entry.data['read-of'] -%}
{%- set progress = progress if progress else entry.data.progress -%}
{# {%- set rating = rating if rating else entry.data.rating -%} #}
{%- set noteContent = content if content -%} {# entry.content if you want to show e-content in list view #}
{%- set status = {
	want: 'Want to read',
	started: 'Reading',
	finished: 'Read',
	stopped: 'Did Not Finish'
} -%}
{%- if readOf -%}
<section>
	<data class="p-x-progress" value="{{ progress }}">{{ status[progress] }}</span>
	<span class="p-read-of h-cite">
		{%- if readOf['url'] -%}
		<a class="u-url" href="{{ readOf['url'] }}"><span class="p-name">{{ readOf['name'] | safe }}</span></a>
		{%- else -%}
		<span class="p-name">{{ readOf['name'] }}</span>
		{%- endif -%}
		&nbsp;by <span class="p-author">{{ readOf['author'] }}</span>
		{%- if readOf['published'] -%}
		<span class="dt-published" hidden>{{ readOf['published'] }}</span>
		{%- endif -%}
		{%- if readOf['uid'] -%}
		<span class="p-uid" hidden>{{ readOf['uid'] }}</span>
		{%- endif -%}
		{%- if readOf.photo %}
		<p><img class="u-photo" src="{{ readOf.photo }}" alt="{{ readOf.name }} by {{ readOf.author }} cover"></p>
		{% endif -%}
	</span>
</section>
{%- elif summary %}
<div class="p-summary">{{ summary | safe }}</div>
{%- endif %}
{% if readOf.name %}
<a href="https://worldcat.org/search?q={{ readOf.name }}">Borrow from your local library</a>
{% endif %}