{%- set m1 = webmentions[page.url | webmentionSlug] or [] %}
{%- set m2 = webmentions[linkPrefix + shortlink] or [] %}
{%- set mentions = [].concat(m1).concat(m2) %}
<details id="interactions" class="pad-sm" open>
  <summary>Interactions</summary>
  <ul>
    {%- for mention in mentions %}
      {%- set mentionDate = mention.published if mention.published else mention['wm-received'] -%}
      {%- if not (mention['url'] | isBridged) and mention['wm-property'] in ['in-reply-to', 'mention-of', 'like-of', 'bookmark-of'] %}
      <li>
        {%- if mention['wm-property'] == 'in-reply-to' %}
        <p><a href="{{ mention.author.url }}">{{ mention.author.name }}</a>: {{ mention.content.text }}
        <a href="{{ mention.url }}"><time datetime="{{ mentionDate | dateISO }}">{{ mentionDate | dateString }}</time></a></p>
        {%- elif mention['wm-property'] == 'mention-of' %}
        <p>Mentioned on <a href="{{ mention.url }}">{{ mention.url }}</a></p>
        {%- elif mention['wm-property'] == 'like-of' %}
        <p>Liked by <a href="{{ mention.author.url }}">{{ mention.author.name }}</a></p>
        {%- elif mention['wm-property'] == 'bookmark-of' %}
        <p>Bookmarked by <a href="{{ mention.author.url }}">{{ mention.author.name }}</a></p>
        {%- endif %}
      </li>
      {%- endif %}
    {%- endfor %}
    {%- set networks = (mentions | socials) %}
    {%- for url, actions in networks %}
      <li>
        <a href="{{ url }}">
          {% if 'https://corteximplant.com' in url %}{% svg "social.svg#mastodon", "cortex implant" %}{% endif %}
          {% if 'https://fosstodon.org' in url %}{% svg "social.svg#mastodon", "fosstodon" %}{% endif %}
          {% if 'https://indieweb.social' in url %}{% svg "social.svg#mastodon", "indieweb social" %}{% endif %}
          {% if 'https://bsky.app' in url %}{% svg "social.svg#butterfly", "bluesky" %}{% endif %}
          {% if 'https://twitter.com' in url %}{% svg "icons.svg#globe", "twitter" %}{% endif %}
        </a>
        {% if actions['like-of'] %} {{ actions['like-of'] }} ❤️ {% endif %}
        {% if actions['repost-of'] %} {{ actions['repost-of'] }} 🔁 {% endif %}
        {% if actions['in-reply-to'] %} {{ actions['in-reply-to'] }} 💬 {% endif %}
      </li>
    {%- endfor %}
  </ul>
	<br/>
  <open-heart href="https://corazon.sploot.com?id={{ metadata.url }}{{ page.url }}" emoji="❤️">❤️</open-heart>
  <p>To reply to this post, send a <a href="https://indieweb.org/Webmention">Webmention</a> or <a href="/contact">contact me</a>.</p>
</details>
<!-- openheart.fyi -->
<script src="https://unpkg.com/open-heart-element" type="module"></script>
<script>
window.customElements.whenDefined('open-heart').then(() => {
  for (const oh of document.querySelectorAll('open-heart')) {
    oh.getCount()
  }
})
</script>