{%- set m1 = webmentions[page.url | webmentionSlug] or [] %}
{%- set m2 = webmentions[linkPrefix + shortlink] or [] %}
{%- set mentions = [].concat(m1).concat(m2) %}
<details id="interactions" class="pad-sm" open>
  <summary>Interactions</summary>
  <ul>
    {%- for mention in mentions %}
      {%- if not (mention.source | isBridged) and mention.type in ['reply', 'mention', 'like', 'bookmark'] %}
      <li>
        {%- if mention.type == 'reply' %}
        <p><a href="{{ mention.author.url }}">{{ mention.author.name }}</a>: {{ mention.content.text }}
        <a href="{{ mention.source }}"><time datetime="{{ mention.received | dateISO }}">{{ mention.received | dateString }}</time></a></p>
        {%- elif mention.type == 'mention' %}
        <p>Mentioned on <a href="{{ mention.source }}">{{ mention.source }}</a></p>
        {%- elif mention.type == 'like' %}
        <p>Liked by <a href="{{ mention.source }}">{{ mention.author.name }}</a></p>
        {%- elif mention.type == 'bookmark' %}
        <p>Bookmarked by <a href="{{ mention.source }}">{{ mention.author.name }}</a></p>
        {%- endif %}
      </li>
      {%- endif %}
    {%- endfor %}
    {%- set networks = (mentions | socials) %}
    {%- for url, actions in networks %}
      <li>
        <a href="{{ url }}">
          {%- if 'https://corteximplant.com' in url %}{% svg "social.svg#mastodon", "cortex implant" %}{% endif -%}
          {%- if 'https://fosstodon.org' in url %}{% svg "social.svg#mastodon", "fosstodon" %}{% endif -%}
          {%- if 'https://indieweb.social' in url %}{% svg "social.svg#mastodon", "indieweb social" %}{% endif -%}
          {%- if 'https://bsky.app' in url %}{% svg "social.svg#butterfly", "bluesky" %}{% endif -%}
          {%- if 'https://twitter.com' in url %}{% svg "icons.svg#globe", "twitter" %}{% endif -%}
        </a>
        {% if actions.mention %} {{ actions.mention }} <span aria-label="mentions">🔗</span> {% endif %}
        {% if actions.like %} {{ actions.like }} <span aria-label="likes">❤️</span> {% endif %}
        {% if actions.repost %} {{ actions.repost }} <span aria-label="reposts">🔁</span> {% endif %}
        {% if actions.reply %} {{ actions.reply }} <span aria-label="replies">💬</span> {% endif %}
      </li>
    {%- endfor %}
  </ul>
  <br>
  <open-heart href="https://corazon.sploot.com?id={{ metadata.url }}{{ page.url }}" emoji="❤️">❤️</open-heart>
  <p>To reply to this post, send a <a href="https://indieweb.org/Webmention">Webmention</a> or <a href="/contact">contact me</a>.</p>
  {%- if metadata.rels.webmention %}
  <p>You can also add the link of your post below and it will show up here after the site rebuilds next time.</p>
  <form action="{{ metadata.rels.webmention }}" method="post">
    <input type="url" name="source" placeholder="Link to your post" aria-label="URL">
    <input type="hidden" name="target" value="{{ metadata.url }}{{ page.url }}">
    <input type="submit" value="Send">
  </form>
  {%- endif %}
</details>
<!-- openheart.fyi -->
<script src="https://unpkg.com/open-heart-element" type="module"></script>
<script>
window.customElements.whenDefined('open-heart').then(() => {
  for (const oh of document.querySelectorAll('open-heart')) {
    oh.getCount()
  }
})
</script>