---
pagination:
  data: collections.all
  size: 1
  alias: entry
permalink: "/{{ entry.url }}/embed/"
layout: null
eleventyExcludeFromCollections: true
---
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{%- set pageTitle %}
		{%- if entry.data.rssTitle | length %}{{ entry.data.rssTitle | safe }}
		{%- elif entry.data.title or entry.data.summary %}{{ entry.data.title or entry.data.summary }}
		{%- endif -%}
		{% endset %}
		<title>{{ pageTitle + ' | ' if pageTitle | length }}{{ metadata.title }}</title>
		<style>
			:root {
				font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
				color-scheme: dark light;
			}
			@media (prefers-color-scheme: dark) {
				svg { fill: white }
			}
			ul.tags {
				list-style: none;
				padding: 0; margin: 0;
			}
			ul.tags li {
				display: inline-block;
				margin: 0 .4em 0 0;
			}
			ul.tags li:before { content: '#' }
			.footer-details {
				display: flex;
				justify-content: space-between;
			}
			svg { margin-bottom: -5px }
			.h-entry img {
				margin: 0 auto;
				width: 100%;
				max-width: 400px;
			}
			.h-card {
				display: flex;
				gap: 1em;
				padding-bottom: 1em;
			}
			.h-card img {
				width: 70px;
				border: 2px solid;
				border-radius: 50%;
				aspect-ratio: 1/1;
				margin: 0;
			}
			pre code { tab-size: 2 }
			pre code span { display: block }
		</style>
	</head>
	<body>
		{%- set postType = entry.data.postType %}
		<article class="h-entry">
			<header class="p-author h-card">
				<img class="u-photo" src="{{ metadata.author.photo }}" alt="{{ metadata.author.name }} avatar">
				<div>
					<p class="p-name">{{ metadata.author.name }}</p>
					<a class="u-url" href="{{ metadata.author.url }}" rel="me">{{ metadata.url }}</a>
				</div>
			</header>
			{%- if postType == 'like' %}
			{% include "partials/entry/like.njk" %}
			{%- elif postType == 'bookmark' %}
			{% include "partials/entry/bookmark.njk" %}
			{%- elif postType == 'rsvp' %}
			{% include "partials/entry/rsvp.njk" %}
			{%- elif postType == 'read' %}
			{% include "partials/entry/read.njk" %}
			{%- elif postType == 'watch' %}
			{% include "partials/entry/watch.njk" %}
			{%- elif postType == 'listen' %}
			{% include "partials/entry/listen.njk" %}
			{%- elif postType == 'article' %}
			{% include "partials/entry/article.njk" %}
			{%- else %}
			{% include "partials/entry/note.njk" %}
			{%- endif %}
			<div class="e-content">{{ entry.templateContent | safe }}</div>
			<footer>
				<hr>
				<div class="footer-details">
					<ul class="tags">
						{% for tag in entry.data.tags -%}
						<li><a class="p-category" href="/tags/{{ tag | slug }}">{{ tag }}</a></li>
						{%- endfor %}
					</ul>
					{%- set pageDate = page.date | dateToFormat('yyyy-MM-dd HH:mm') %}
					<span>
						<time class="dt-published" datetime="{{ page.date | dateISO }}">{{ pageDate }}</time>
						<a class="u-url" href="{{ metadata.url }}{{ entry.url }}" rel="noreferrer noopener">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" viewBox="0 0 256 256">
								<path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM101.63,168h52.74C149,186.34,140,202.87,128,215.89,116,202.87,107,186.34,101.63,168ZM98,152a145.72,145.72,0,0,1,0-48h60a145.72,145.72,0,0,1,0,48ZM40,128a87.61,87.61,0,0,1,3.33-24H81.79a161.79,161.79,0,0,0,0,48H43.33A87.61,87.61,0,0,1,40,128ZM154.37,88H101.63C107,69.66,116,53.13,128,40.11,140,53.13,149,69.66,154.37,88Zm19.84,16h38.46a88.15,88.15,0,0,1,0,48H174.21a161.79,161.79,0,0,0,0-48Zm32.16-16H170.94a142.39,142.39,0,0,0-20.26-45A88.37,88.37,0,0,1,206.37,88ZM105.32,43A142.39,142.39,0,0,0,85.06,88H49.63A88.37,88.37,0,0,1,105.32,43ZM49.63,168H85.06a142.39,142.39,0,0,0,20.26,45A88.37,88.37,0,0,1,49.63,168Zm101.05,45a142.39,142.39,0,0,0,20.26-45h35.43A88.37,88.37,0,0,1,150.68,213Z"></path>
							</svg>
						</a>
					</span>
				</div>
			</footer>
		</article>
	</body>
</html>
