<a class="post-type" href="/bookmarks"><i class="icon-bookmark"></i></a>
<p class="e-content p-name p-summary">Bookmarked <a class="u-bookmark-of" href="{{ bookmark }}">{{ bookmarkTitle or bookmark }}</a></p>