<details hidden>
	<div class="p-author h-card">
		{% include "author.njk" %}
	</div>
	<a class="u-url" href="{{ entry.url }}"></a>
	<time class="dt-published" datetime="{{ entry.date | dateISO }}">{{ entry.date | dateString }}</time>
	{%- if updated %}
		<time class="dt-updated" datetime="{{ updated | dateISO }}">{{ updated | dateString }}</time>
	{% endif %}
	{%- for s in syndication | toArray %}
		<a rel="syndication noreferrer" class="u-syndication" href="{{ s }}"></a>
	{%- endfor %}
	{%- if not syndicateTo -%}
		{%- set syndicateTo = 'syndicate-to' | getVariable %}
	{%- endif -%}
	{%- for s in syndicateTo %}
	<a rel="syndication noreferrer" class="u-syndication" href="{{ s }}"></a>
	{%- endfor %}
	{%- for cat in categories %}
	<a class="p-category" href="/tag/{{ cat | slugify }}">{{ cat }}</a>
	{%- endfor %}
	{%- if entry.data.featured %}
	<img class="u-featured" src={{ entry.data.featured }} />
	{%- endif %}
	{%- if entry.data.summary -%}
	<p class="p-summary">{{ entry.data.summary }}</p>
	{%- endif -%}
</details>