<details hidden>
	<div class="p-author h-card">
		{% include "author.njk" %}
	</div>
	<a class="u-url" href="{{ entry.url }}"></a>
	<time class="dt-published" datetime="{{ entry.date | dateISO }}">{{ entry.date | dateISO }}</time>
	{%- if updated %}
		<time class="dt-updated" datetime="{{ updated | dateISO }}">{{ updated | dateISO }}</time>
	{% endif %}
	{%- for s in syndication | toArray %}
		<a rel="syndication noreferrer" class="u-syndication" href="{{ s }}"></a>
	{%- endfor %}
	{%- if not syndicateTo -%}
		{% set syndicateTo = 'syndicate-to' | getVariable %}
	{%- endif -%}
	{%- for s in syndicateTo %}
	<a rel="syndication noreferrer" class="u-syndication" href="{{ s }}"></a>
	{%- endfor %}
	{%- for cat in categories %}
	<a class="p-category" href="/tag/{{ cat | slugify }}">{{ cat }}</a>
	{%- endfor %}
	{%- if not readOf -%}
		{% set readOf = 'read-of' | getVariable %}
	{%- endif -%}
	{%- if readOf %}
	{% set readOfProps = readOf['properties'] %}
	<span class="p-read-of h-cite">
		{%- if readOfProps['name'] %}
		<span class="p-name">{{ readOfProps['name'] }}</span>
		{% endif %}
		{%- if readOfProps['name'] %}
		<span class="p-author">{{ readOfProps['author'] }}</span>
		{% endif %}
		{%- if readOfProps['name'] %}
		<span class="p-uid">{{ readOfProps['uid'] }}</span>
		{% endif %}
	</span>
	{% endif %}
</details>
