<a class="post-type" href="/rsvp"><i class="icon-rsvp"></i></a>
<p class="e-content" style="text-align: left;">
	RSVP'd
	<data class="p-rsvp" value="{{ rsvp }}"><b>{{ rsvp }}</b></data>
	to
	<a class="u-in-reply-to" href="{{ reply }}" target="_blank">{{ reply }}</a>
</p>