{%- set watchOf = 'u-watch-of' | getVariable -%}
{%- if watchOf -%}
	{%- set watchOfProps = watchOf.properties -%}
	{%- if watchOfProps -%}
	<span class="u-watch-of h-cite">
		{%- set watchStatus = "Rewatched" if watchOfProps['rewatch'] else "Watched" %}
		<div class="p-summary">
			<data class="p-x-watch-status" value={{ watchStatus | lower }}>{{ watchStatus }}</data>
			{%- set watchedTitle -%}
				{%- if watchOfProps['name'] -%}
					<span class="p-title">{{ watchOfProps['name'] }}</span>
					{%- if watchOfProps['year'] -%}
					,&nbsp;<span class="p-year">{{ watchOfProps['year'] }}</span>
					{%- endif -%}
				{%- else -%}
				{{ summary }}
				{%- endif -%}
			{%- endset -%}
			{%- set watchedRating -%}
				{%- if watchOfProps['rating'] -%}
				&nbsp;-&nbsp;<span class="p-rating">{{ watchOfProps['rating'] | toStars }}</span>
				{%- endif -%}
			{%- endset -%}
			&nbsp;
			{%- if syndication -%}
			<a href='{{ syndication }}'>{{ watchedTitle | safe }}{{ watchedRating | safe }}</a>
			{%- elif watchOfProps['url'] -%}
			<a href="{{ watchOfProps['url'] }}">{{ watchedTitle | safe }}</a>{{ watchedRating | safe }}
			{%- else -%}
			{{ watchedTitle }}{{ watchedRating | safe }}
			{%- endif -%}
		</div>
	</span>
	<div class="e-content">
		{%- if watchOfProps['photo'] %}
		<p class="img-block">
			<img src="{{ watchOfProps['photo'] }}" alt="{{ watchOfProps['name'] }} ({{ watchOfProps['year'] }}) poster" />
		</p>
		{% endif -%}
		{%- if watchOfProps['spoiler'] %}
		<details>
			<summary>Spoiler</summary>
		{% endif -%}
		{{ noteContent | safe }}
		{%- if watchOfProps['spoiler'] %}
		</details>
		{% endif -%}
	</div>
	{% endif %}
{%- endif %}