{%- set watchOf = 'watch-of' | getVariable -%}
{%- set cite = watchOf.properties -%}
{%- set rewatch = rewatch if rewatch else entry.data.rewatch %}
{%- set rating = rating if rating else entry.data.rating %}
{%- set noteContent = content if content -%} {# entry.content if you want to show e-content in list view #}
{%- if cite -%}
<section>
	{%- set watchStatus = "Rewatched" if rewatch == true or rewatch == "true" else "Watched" -%}
	<data class="p-x-watch-status" value={{ watchStatus | lower }}>{{ watchStatus }}</data>&nbsp;
	{%- set watchedTitle -%}
		{%- if cite['name'] -%}
			<span class="p-title">{{ cite['name'] }}</span>
			{%- if cite['published'] -%}
			,&nbsp;<span class="p-year">{{ cite['published'] }}</span>
			{%- endif -%}
		{%- else -%}
		{{ summary }}
		{%- endif -%}
	{%- endset -%}
	{%- set watchedRating -%}
		{%- if rating -%}
		&nbsp;-&nbsp;<a href='/watched/rated/{{ rating }}' class="p-rating" value="{{ rating }}">{{ rating | toStars }}</a>
		{%- endif -%}
	{%- endset -%}
	<span class="u-watch-of h-cite">
		{%- if syndication -%}
		<a href='{{ syndication }}'>{{ watchedTitle | safe }}{{ watchedRating | safe }}</a>
		{%- elif cite['url'] -%}
		<a href="{{ cite['url'] }}">{{ watchedTitle | safe }}</a>{{ watchedRating | safe }}
		{%- else -%}
		{{ watchedTitle }}{{ watchedRating | safe }}
		{%- endif -%}
		{%- if cite['photo'] %}
		<p class="img-block">
			<img class="u-photo" src="{{ cite['photo'] }}" alt="{{ cite['name'] }} ({{ cite['published'] }}) poster" />
		</p>
		{% endif -%}
	</span>
</section>
{%- elif summary %}
<div class="p-summary">{{ summary | safe }}</div>
{% endif %}
{%- if noteContent %}
<div class="e-content">
	{{ noteContent | safe }}
</div>
{%- endif %}
{% if cite['uid'] == 'imdb:tt6710474' %}
<div onclick="document.getElementsByClassName('eye')[0].classList.add('x2')">
	<svg height="20" width="20" class="eye">
		<circle cx="10" cy="10" r="8" stroke="black" stroke-width="2" fill="white" />
		<circle cx="11" cy="12" r="5" fill="black" />
	</svg>
</div>
<script>
	window.onload = function() {
		window.addEgg && window.addEgg('eye')
	}
</script>
{% endif %}
