<div class="winter">
{%- for i in range(0, 5) -%}
	{%- for j in ['&#9826;', '&#183;', '&#8280;', '&#10052;', '&#10023;'] %}
	<span class="snowflake" style="left: {{ range(2, 98) | random }}%; font-size: {{ (range(8, 15) | random) / 10 }}em; opacity: {{ (range(5, 10) | random) / 10 }}; animation-delay: {{ range(2, 15) | random }}s; animation-duration: {{ range(12, 18) | random }}s, {{ range(6, 12) | random }}s;">{{ j | safe }}</span>
	{%- endfor %}
{%- endfor %}
	<span class="berm">
		<a href=".">Call Mr. Plow: 555-3226</a>
	</span>
</div>
<!--
For h-card
<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
	<circle cx="95" cy="50" r="5" />
	<circle cx="92.8" cy="63.91" r="5" />
	<circle cx="86.41" cy="76.45" r="5" />
	<circle cx="76.45" cy="86.41" r="5" />
	<circle cx="63.91" cy="92.8" r="5" />

	<circle cx="50" cy="95" r="5" />
	<circle cx="36.09" cy="92.8" r="5" />
	<circle cx="23.55" cy="86.41" r="5" />
	<circle cx="13.59" cy="76.45" r="5" />
	<circle cx="7.2" cy="63.91" r="5" />

	<circle cx="5" cy="50" r="5" />
	<circle cx="7.2" cy="36.09" r="5" />
	<circle cx="13.59" cy=23.55 r="5" />
	<circle cx="23.55" cy=13.59 r="5" />
	<circle cx="36.09" cy="7.2" r="5" />

	<circle cx="50" cy="5" r="5" />
	<circle cx="63.91" cy="7.2" r="5" />
	<circle cx="76.45" cy="13.59" r="5" />
	<circle cx="86.41" cy="23.55" r="5" />
	<circle cx="92.8" cy="36.09" r="5" />
</svg>
-->