---
layout: "base.njk"
title: "watched: 2023"
permalink: /watched/2023/
eleventyExcludeFromCollections: true
---
{% set entries = collections.watched | reverse | byYear(2023) %}
{%- include "feed/watched.njk" %}