---
layout: layouts/base.njk
pagination:
  data: years
  size: 1
  alias: year
permalink: "/watched/{{ year | slugify }}/"
years:
  - 2022
  - 2023
  - 2024
  - 2025
---
{%- set entries = collections.watched | reverse | byYear(year) -%}
{%- set title = 'watched: ' + year + ' (' + (entries | length) + ')' -%}
{%- set rewatched = (entries | byDataProperty("rewatch", true) | length ) -%}
{%- set subtitle  -%}
	{% if rewatched %}
	{% svg "icons.svg#repeat" %} rewatched: {{ rewatched }}
	{%- endif -%}
{%- endset -%}
{%- include "partials/feed-watched.njk" %}