---
permalink: /letterboxd.csv
---
{%- set entries = collections.watched | reverse -%}
Title,tmdbID,Rating,WatchedDate,Rewatch,Review
{% for entry in entries | limit(25) | reverse %}
	{%- set watched = entry.data['watch-of'] %}
	{%- if watched['uid'] %}
		{%- set linkPrefix %}{% prefix entry.data.postType %}{% endset %}
		{%- set shortlink = entry.url | shortlink %}
		{%- set pagelink = metadata.shortUrl + '/' + linkPrefix + shortlink -%}
		"{{- watched['name'] | safe }}",
		{{- (watched['uid'] + '') | replace('tmdb:', '') }},
		{{- entry.data['rating'] }},
		{{- entry.date | dateToFormat('yyyy-MM-dd') }},
		{{- 'true' if entry.data['rewatch'] == true or entry.data['rewatch'] == "true" else 'false' }},
		{%- if entry.content -%}
		"{{ entry.templateContent | striptags | trim | safe }} - Posted originally on: {{ pagelink }}"
		{%- endif %}
	{%- endif %}
{% endfor %}
