---
permalink: /_redirects
---
{%- for entry in collections.all -%}
{%- set linkPrefix %}{% prefix entry.data.postType %}{% endset -%}
/{{ linkPrefix }}{{ entry.url | shortlink }}/	{{ entry.url }}
{%- if linkPrefix == 'p' %}{# Will remove this later. Switched to 'p' for the prefix for photos #}
/n{{ entry.url | shortlink }}/	{{ entry.url }}
{%- endif %}
{% endfor -%}
/blogroll /linkroll
/elsewhere /contact
/stickerbook /stickers
/assets/88x31.png /assets/88x31.gif 200!
/root/.workspace/.garbage. /root/workspace/garbage