---
permalink: /_redirects
---
{%- for entry in collections.all -%}
/{% prefix entry.url %}{{ entry.url | shortlink }}/	{{ entry.url }}
{% endfor -%}
/blogroll /linkroll
/elsewhere /contact
/stickerbook /stickers
/assets/88x31.png /assets/88x31.gif