---
layout: layouts/base.njk
eleventyExcludeFromCollections: true
templateEngineOverride: njk
---
<section>
	<style>
		.h-card {
			border: 2px solid var(--fg);
			border-radius: .3em;
			box-shadow: .3em .3em 0;
		}
		div.h-card {
			display: flex;
			gap: .5em;
			align-items: center;
			width: max-content;
			margin: 0 auto;
			padding: .75em;
			max-width: 100%;
		}
		.h-card .u-photo {
			width: 100%;
			max-width: 100px;
			margin: 0 .25em;
			padding: .25em;
			border-radius: 50%;
			border: 2px solid var(--fg);
			aspect-ratio: 1/1;
		}
		.h-card .p-note {
			margin: 0;
		}
	</style>
	<div class="h-card">
		<img class="u-photo" src="{{ metadata.author.photo }}">
		<ul role="list">
			<li><p class="p-note">{{ metadata.description }}</p></li>
			<li><img class="svg sm" src="/assets/phosphor/envelope-simple.svg" alt="email" /> <a class="u-email" href="mailto:{{ metadata.author.email }}">{{ metadata.author.email }}</a></li>
			<li><img class="svg sm" src="/assets/phosphor/key.svg" alt="Public Key: 7EBF 284E 2F90 ABB9" /> <a class="u-key" rel="pgpkey" type="application/pgp-keys" href="/pub.asc">7EBF 284E 2F90 ABB9</a></li>
			<li><online-now href="https://status.benji.dog"></online-now></li>
		</ul>
		<details hidden>
			<a class="p-name u-url u-uid" href="{{ metadata.url }}" rel="me">{{ metadata.author.name }}</a>
			<a class="u-url" href="acct:benji@benji.dog"></a>
			{% if metadata.author.banner %}<img class="u-featured" src="{{ metadata.author.banner }}" hidden>{% endif %}
		</details>
	</div>
	<script src="/component/online-now.js"></script>
	<link rel="stylesheet" type="text/css" href="/component/online-now.css">
</section>
<section>
	{% set entries = collections.feedPublic | reverse | limit(3) %}
	<h2>Recent <a href="/feed.xml" title="RSS Feed"><img class="svg sm" src="/assets/phosphor/rss-simple.svg" alt="RSS feed"/></a></h2>
	{%- include "partials/feed.njk" -%}
</section>
<hr class="sm" />
<div class="cols">
	<section>
		{% set entries = collections.watched | reverse | limit(6) %}
		<h2>Recent movies <a href="/watched" title="See more"><img class="svg sm" src="/assets/phosphor/arrow-right.svg" alt="See more watched posts"/></a></h2>
		<div class="h-feed posters">
			{%- for entry in entries %}
				{%- set watched = entry.data['watch-of'].properties -%}
				{%- set skipIcons = true -%}
				{%- include "partials/movie.njk" -%}
			{%- endfor -%}
		</div>
	</section>
	<section>
		{% set entries = collections.read | reverse | byDataProperty('progress', 'finished') | limit(6) -%}
		<h2>Recent books <a href="/read" title="See more"><img class="svg sm" src="/assets/phosphor/arrow-right.svg" alt="See more read posts"/></a></h2>
		<div class="h-feed posters">
			{%- for entry in entries %}
				{%- set watched = entry.data['read-of'].properties -%}
				{%- include "partials/book.njk" -%}
			{%- endfor -%}
		</div>
	</section>
</div>
<section>
	{% set photos = collections.photos | reverse | limit(4) -%}
	<h2>Recent photos <a href="/photos" title="See more"><img class="svg sm" src="/assets/phosphor/arrow-right.svg" alt="See more photos"/></a></h2>
	<div class="h-feed grid">
		{% for post in photos -%}
		<a href="{{ post.url }}">
			{%- set photo = (post.data.photo or []) | first -%}
			{%- include "partials/photo.njk" -%}
		</a>
		{%- endfor %}
	</div>
</section>