---
title: photos
---
{%- set photos = collections.photos | reverse -%}
<div class="h-feed grid pad-sm">
	{% for post in photos -%}
	<a href="{{ post.url }}">
		{%- set photo = (post.data.photo or []) | first -%}
		{%- include "partials/photo.njk" -%}
	</a>
	{%- endfor %}
</div>