---
permalink: _redirects
eleventyExcludeFromCollections: true
---
{%- for entry in collections.all -%}
/{% prefix entry.url %}{{ entry.url | shortlink }}/	{{ entry.url }}
{% endfor -%}
/blogroll /linkroll
/articles/indieweb-movie-club-septermber-2024 /articles/indieweb-movie-club-september-2024