---
pagination:
  data: collections.public
  size: 1
  alias: entry
permalink: "{% prefix entry.url %}{{ entry.url | shortlink }}/"
eleventyExcludeFromCollections: true
---
{% page_redirect entry.url %}
{%- if metadata.rels and metadata.rels.webmention %}
<link rel="webmention" href="{{ metadata.rels.webmention }}" />
{% endif %}