---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
pages:
  - /
  - /about
  - /changelog
  - /colophon
  - /contact
  - /feed
  - /feed/all
  - /feeds
  - /linkroll
  - /links
  - /now
  - /slashes
  - /tags
  - /todo
  - /uses
  - /articles
  - /bookmarks
  - /likes
  - /listens
  - /notes
  - /photos
  - /read
  - /replies
  - /rsvp
  - /watched
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{%- for page in pages %}
	<url>
		<loc>{{ metadata.url }}{{ page | url }}</loc>
	</url>
	{%- endfor %}
	{%- for page in collections.publicAll | sort(attribute="url") %}
	<url>
		<loc>{{ metadata.url }}{{ page.url | url }}</loc>
		<lastmod>{{ page.date.toISOString() }}</lastmod>
	</url>
	{%- endfor %}
	{%- for tag, _ in collections.tagList %}
	<url>
		<loc>{{ metadata.url }}/tags/{{ tag | slug }}</loc>
	</url>
	{%- endfor %}
</urlset>