
@import "mixin.scss";

/* General */
html, body {
	margin: 0;
	background: var(--bg);
	position: relative;

	color: var(--fg);
	font-family: 'Berkeley Mono', var(--monospace-font);
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.5;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	main {
		flex-grow: 1;
	}
	padding: .7em;
}

a {
	cursor: pointer;
	@include transition(all .2s linear);
	font-style: italic;
	text-decoration: none;
	&, &:visited, &:active, a:link {
		color: var(--link-color);
	}
	&:hover {
		color: var(--link-hover-color);
	}
	&:not([href]) {
		cursor: not-allowed;
		color: var(--b_high);
		&:hover {
			color: var(--link-disabled-color);
		}
	}
	// &[href^="http"] {
	// 	&:after {
	// 		content: "↗";
	// 	}
	// }
}

ul, li {
	padding: 0;
	margin: 0;
}

blockquote {
	text-align: left;
	border-left: 3px solid var(--fg);
	margin-left: 0;
	padding-left: 20px;
	margin: 0;
}

pre {
	color: var(--fg);
	border: 1px solid var(--fg);
	border-radius: .3em;
	padding: 1em;
	overflow-x: auto;
	text-align: left;
	code {
		background: none;
		padding: 0;
		border: none;
	}
}

code {
	color: var(--fg);
	font-size: .9em;
	margin: .1em 0;

	border-radius: 5px;
	background: var(--b_low);
	padding: .1em .3em;
}

main {
	width: 100%;
	padding: .75em;

	position: relative;
	display: flex;
	justify-content: center;
}

.page-wrapper {
	text-align: center;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;

	@include bp(M) {
		// max-width: 90%;
	}
}

/* Helpers */
.v-center {
	display: flex;
	align-items: center;
	width: 100%;
}

.text-center {
	text-align: center !important;
}
.text-right {
	display: block;
	text-align: right !important;
}

/* overwrite */
h1 {
	font-size: 1.5em;
	margin: .5em 0;
}

details {
	summary {
		cursor: pointer;
	}
}

img.sm {
	height: 1em;
	vertical-align: -.125em;
}
h1 a {
	margin: 0 .3em;
}

// img.svg colors
// https://codepen.io/sosuke/pen/Pjoqqp
img.svg {
	filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(16deg) brightness(108%) contrast(100%);
}
a {
	&:hover {
		img.svg {
			filter: brightness(0) saturate(100%) invert(79%) sepia(8%) saturate(5717%) hue-rotate(292deg) brightness(100%) contrast(92%);
		}
	}
}
.light {
	img.svg {
		filter: brightness(0) saturate(100%) invert(36%) sepia(6%) saturate(171%) hue-rotate(236deg) brightness(95%) contrast(94%);
	}
	a {
		&:hover {
			img.svg {
				filter: brightness(0) saturate(100%) invert(52%) sepia(100%) saturate(222%) hue-rotate(297deg) brightness(91%) contrast(84%);
			}
		}
	}
	.webring img {
		filter: invert(1);
	}
}
