@import "mixin";

body {
	font-family: 'Berkeley Mono', var(--monospace-font);
	font-size: 14px;
	letter-spacing: 1px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.wrapper {
	background: var(--bg);
	color: var(--fg);
	display: flex;
	flex-direction: column;
	main {
		flex-grow: 1;
	}
	padding: .7em;
	min-height: 100vh;
}

main {
	padding: .75em;
	position: relative;
	display: flex;
	justify-content: center;
}

section {
	max-width: 700px;
	margin: 0 auto;
	width: 100%;
}

p {
	text-align: justify;
}

/* LINKS */
a {
	cursor: pointer;
	@include transition(all .2s linear);
	font-style: italic;
	text-decoration: none;
	&, &:visited, &:active, &:link {
		color: var(--link-color);
	}
	&:hover {
		color: var(--link-hover-color);
	}
	&:not([href]) {
		cursor: not-allowed;
		color: var(--link-disabled-color);
		&:hover {
			color: var(--link-disabled-color);
		}
	}
	// &[href^="http"] {
	// 	&:after {
	// 		content: "↗";
	// 	}
	// }
	&.selected {
		color: var(--link-hover-color);
		pointer-events: none;
	}
}

img.svg {
	filter: var(--svg-default);
}
a {
	&:hover {
		img.svg {
			filter: var(--svg-highlight);
		}
	}
}

/* IMG */
img {
	margin: 0 auto;
	&.svg {
		display: inline-block;
	}
	// min-height: 100px;
	&.sm {
		min-height: .5em;
		height: 1.5em;
		vertical-align: -.35em;
	}
}

/* OVERWRITE */
details {
	summary {
		cursor: pointer;
	}
}

h1 {
	margin: .5rem 0;
	text-align: center;
}

h2, h3, p {
	margin: 1rem 0;
}

details {
	summary {
		cursor: pointer;
	}
}

ul {
	padding-left: 1em;
}

blockquote {
	border-left: 3px solid var(--fg);
	padding-left: 1em;
}

pre {
	border: 1px solid var(--fg);
	border-radius: .3em;
	padding: 1em;
	code {
		background: none;
		padding: 0;
	}
}

code {
	font-size: .9em;
	border-radius: 5px;
	background: var(--b_low);
	color: var(--fg);
	padding: .1em .3em;
}

/* HELPERS */
.text-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.text-right {
	text-align: right;
}

.v-center {
	display: flex;
	align-items: center;
}

mark {
	background: var(--fg);
	color: var(--bg);
	font-weight: bold;
	border-radius: .2em;
	padding: .1em .2em;
}
