@use "mixin";

:root { font-size: 100% }
body {
	font-family: var(--font);
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.wrapper {
	background: var(--bg);
	color: var(--fg);
	padding: .7em;
	min-height: 100vh;
}

main {
	position: relative;
	padding: 2em .75em;
}

.wrapper {
	display: flex;
	flex-direction: column;
	main {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}

header, main, footer {
	margin: 0 auto;
	width: 100%;
}
main, footer {
	max-width: 715px;
}

/* LINKS */
a {
	cursor: pointer;
	@include mixin.transition(all .2s linear);
	font-style: italic;
	text-decoration: none;
	// wrap long links
	word-wrap: break-word;
	&, &:visited, &:active, &:link {
		color: var(--link-color);
	}
	&:hover {
		color: var(--link-hover-color);
	}
	&:not([href]) {
		cursor: not-allowed;
		color: var(--link-disabled-color);
		&:hover {
			color: var(--link-disabled-color);
		}
	}
	&.selected {
		color: var(--link-hover-color);
		pointer-events: none;
	}
}

/* IMG */
img {
	margin: 0 auto;
	// min-height: 100px;
	&.sm {
		min-height: .5em;
		height: 1.5em;
		vertical-align: -.35em;
	}
	&[width="88"][height="31"] { image-rendering: pixelated }
}

svg { fill: var(--fg) }
a.selected, a:hover { svg { fill: var(--f_low) } }
svg { margin-bottom: -5px } // To fix alignment issues with icons

/* OVERWRITE */
details {
	summary { cursor: pointer }
	&.callout {
		border: 1px solid var(--fg);
		padding: 1em;
	}
}

h1 {
	margin: .5rem 0 2rem;
	text-align: center;
	font-size: 1.6rem;
}

h2, h3, p {
	margin: 1rem 0;
}

ul {
	padding-left: 1em;
}

blockquote {
	border-left: 3px solid var(--fg);
	padding-left: 1em;
}

pre {
	border: 2px solid var(--fg);
	border-radius: .3em;
	box-shadow: .3em .3em 0;
	margin: 0 -1em;
	padding: 1em 0;
	overflow: auto;
	code {
		background: none;
		padding: 0;
		tab-size: 2;
		// To handle /n in code blocks so that microformats parsers can read this correctly
		white-space: nowrap;
		div { white-space: pre }
	}
}

code {
	font-size: .9em;
	border-radius: 5px;
	background: var(--b_low);
	color: var(--fg);
	padding: .1em .3em;
}

table {
	margin: 0 auto;
	th, td { padding: .5em 1em }
}

iframe {
	width: 100%;
	min-height: 250px;
}

input[readonly] {
	font-family: var(--mono-font);
	width: 100%;
	padding: 1em .5em;
}

form {
	input {
		background: var(--bg);
		color: var(--fg);
		border: 1px solid var(--b_high);
		&:focus {
			outline: 1px solid var(--highlight);
		}
	}
}

/* HELPERS */
.text-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.text-right { text-align: right }

.v-center {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.no-bullet { list-style: none }

mark {
	background: var(--fg);
	color: var(--bg);
	font-weight: bold;
	border-radius: .2em;
	padding: .1em .2em;
}

video {
	width: 100%;
	max-width: 500px;
}
