#eye {
	animation-name: roll;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	&.x2 {
		animation-duration: 2s;
	}
}
@keyframes roll {
	0% { transform: rotate(0deg); }
	10% { transform: rotate(90deg); }
	40% { transform: rotate(180deg); }
	60% { transform: rotate(270deg); }
	70% { transform: rotate(360deg); }
	100% { transform: rotate(360deg); }
}
dl.eggs {
	position: relative;
	dt {
		position: relative;
		display: inline-block;
		padding: 0 .5em;
		label {
			font-size: 3rem;
			cursor: help;
		}
		input { display: none }
		&.found {
			label { opacity: .2; pointer-events: none }
			&:after {
				content: attr(data-egg);
				position: absolute;
				top: 50%;  left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	dt:has(input:checked) + dd { display: block }
	dd {
		display: none;
		position: absolute;
		top: 10em;
		width: 100%;
		text-align: center;
		margin: 0;
	}
}
