
.h-entry {
	.e-content, .p-summary {
		text-align: left;
		img {
			max-height: 300px;
			max-width: 100%;
			height: auto;
		}
	}
	.img-block {
		display: block;
		text-align: center;
	}
	.e-content {
		text-align: justify;
		ul {
			margin-left: 1em;
		}
	}
	h1 {
		text-align: center;
	}
	time {
		color: var(--magenta);
	}
	a {
		@include breakLink;
	}

	a.post-type {
		&:not(:hover) {
			color: var(--comment);
		}
		i {
			font-size: inherit;
		}
		& + * {
			&, p {
				margin-top: 0;
			}
		}
	}
}

.footer-details {
	display: flex;
	justify-content: space-between;
	font-size: .8rem;
	padding: 0 0 .5em;
}

.webmentions {
	padding-top: 1em;
	ul {
		padding: 0 1em;
	}
}
