@use "mixin";

.h-entry {
	footer {
		font-size: .8rem;
		time {
			color: var(--highlight);
		}
	}
	.e-content {
		hr {
			margin: 2em auto;
		}
	}
}

.h-entry:has(.p-x-progress[value='stopped']) {
	.h-cite img { filter: grayscale(100%) }
}

.footer-details {
	display: flex;
	justify-content: space-between;
	font-size: .8rem;
	padding: 0 0 .5em;
}

spoiler {
	display: inline-block;
	position: relative;
	&:before {
		content: "Spoilers!";
		position: absolute;
		background: var(--fg);
		color: var(--bg);
		top: 0; bottom: 0;
		left: 0; right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		@include mixin.transition(opacity .3s ease-in);
	}
	&:hover {
		&:before {
			opacity: 0;
		}
	}
}

p:has(spoiler) { // https://caniuse.com/css-has
	text-align: left;
}

aside {
	background: var(--f_inv);
	border-left: .5em solid var(--b_low);
	padding: .4em 1em;
}