// Tested this in netsurf
body {
	background: #131415;
	color: #fbfbfb;
}
a {
	&, &:visited, &:active, &:link {
		color: #6ecff6;
	}
	&:hover {
		color: #f492a5;
	}
	&:not([href]) {
		&, &:hover {
			color: #595a5b;
		}
	}
}
nav {
	a {
		&:not(.selected):not(:hover) {
			color: #fbfbfb;
		}
	}
}
blockquote {
	border-left: 3px solid #fbfbfb;
}
pre {
	border-color: #fbfbfb;
}
pre, code {
	color: #fbfbfb;
}

[hidden] {
	display: none;
}

ul.tags {
	li {
		background: #424243;
	}
}

.p-rating {
	color: #f4e985;
}
