// Tested this in netsurf
html, body {
	background: #131415;
	color: #fbfbfb;
}
a {
	&, &:visited, &:active, a:link {
		color: #6ecff6;
	}
	&:hover {
		color: #f492a5;
	}
	&:not([href]) {
		color: #595a5b;
		&:hover {
			color: #595a5b;
		}
	}
}
blockquote {
	border-left: 3px solid #fbfbfb;
}
pre {
	border-color: #fbfbfb;
}
pre, code {
	color: #fbfbfb;
}

[hidden] {
	display: none;
}

ul.links {
	// Remove whitespace between `li` without changing HTML
	font-size: 0;
	li {
		font-size: 1rem;
		padding: 0 .25rem;
	}
}