
.h-feed {
	.p-name {
		display: block;
		text-align: left;
	}
	.h-entry {
		position: relative;
		padding: 0.2em 0;
		.dt-published {
			&:not(:hover) {
				color: var(--b_high);
			}
		}
		hr {
			width: 25px;
			margin: 1em auto;
			border: 1px solid var(--b_low);
		}
		&:last-of-type {
			hr {
				display: none;
			}
		}
		.footer-details {
			justify-content: end;
		}
	}
}

details {
	ul.links {
		margin: .5rem 0;
		width: auto;
	}
	&.text-right {
		ul {
			list-style: none;
		}
	}
}
