.h-feed {
	.h-entry {
		padding: 0.2em 0;
		footer {
			.dt-published {
				&:not(:hover) {
					color: var(--b_high);
				}
			}
		}
		&:last-of-type {
			+ hr {
				display: none;
			}
		}
	}
}

hr.sm, .h-feed hr {
	width: 25px;
}

footer.pagination {
	a[rel] {
		padding: 0 1rem;
	}
	font-size: 1.2rem;
}

.cols {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	grid-gap: .75em;
}