
@font-face {
  font-family: 'Berkeley Mono';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/berkeleymono/BerkeleyMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Berkeley Mono';
  font-weight: normal;
  font-style: italic;
  src: url('/assets/fonts/berkeleymono/BerkeleyMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Berkeley Mono';
  font-weight: bold;
  font-style: normal;
  src: url('/assets/fonts/berkeleymono/BerkeleyMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Berkeley Mono';
  font-weight: bold;
  font-style: italic;
  src: url('/assets/fonts/berkeleymono/BerkeleyMono-BoldItalic.woff2') format('woff2');
}
