.adventure {
	#log {
		article, article h2 { display: none }
		&:target article, article:target, &:not(:has(article:target)) article.today {
			display: block
		}
	}
	table {
		th, td { padding: .5em .5em }
		td {
			color: var(--link-disabled-color);
			text-align: center;
			&:has(strong) { border: 1px solid var(--fg) }
		}
	}
}