
header {
	text-align: center;
}

nav.menu {
	a {
		display: inline-block;
		&:not(:hover) {
			color: var(--fg);
		}
		&.selected {
			color: var(--link-hover-color);
			pointer-events: none;
			cursor: default;
		}
		padding: 0 0.25em;
	}
}

nav {
	#light-switch {
		position: absolute;
		right: 10px;
		cursor: pointer;
	}
}
