.social-icons, .key, .webring {
	a:not(:hover) {
		color: var(--fg);
	}
	a {
		margin: 0 .5em;
	}
}

.social-icons {
	img.svg {
		height: 1.25em;
	}
}

.key, .webring {
	padding-top: 1rem;
	font-size: .9rem;
}

.webring img {
	height: 2em;
}
