@mixin transition($transition...) {
	-moz-transition:    $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}
@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content }
	@-moz-keyframes #{$name} { @content }
	@-ms-keyframes #{$name} { @content }
	@keyframes #{$name} { @content }
}