
@mixin bp($size) {
	@if $size == XXL {
		@media (min-width: 1600px) { @content; }
	} @else if $size == XL {
		@media (max-width: 1200px) { @content; }
	} @else if $size == L {
		@media (max-width: 1000px) { @content; }
	} @else if $size == M {
		@media (max-width: 850px) { @content; }
	} @else if $size == S {
		@media (max-width: 710px) { @content; }
	} @else if $size == XS {
		@media (max-width: 650px) { @content; }
	} @else if $point == XXS {
		@media (max-width: 400px) { @content; }
	}
}

@mixin responsive($size: 1024px) {
	@media screen and (max-width: $size) {
		@content;
	}
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	} 
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}

@mixin text-fill-color($color) {
	-webkit-text-fill-color: $color;
	-moz-text-fill-color:    $color;
	-ms-text-fill-color:     $color;
	text-fill-color:         $color;
}

@mixin background-clip($clip) {
	-webkit-background-clip:  $clip;
  -moz-background-clip:     $clip;
  -o-background-clip:       $clip;
  background-clip:          $clip;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform:    $transforms;
	-ms-transform:     $transforms;
	transform:         $transforms;
}

@mixin transition($transition...) {
	-moz-transition:    $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}

@include keyframes(scroll-gradient) {
	0% {
		background-position:0% 0%;
	}
	50% {
		background-position:100% 100%;
	}
	100% {
		background-position:0% 0%;
	}
}
