nav {
	a {
		display: inline-block;
		padding: 0 .25em;
	}
}

header {
	position: relative;
	nav {
		padding: 0 .75em;
		a {
			padding: 0.1em .5em;
			&:first-child { padding-left: 0 }
			&:last-child { padding-right: 0 }
			&, &:visited, &:active, &:link {
				color: var(--fg);
			}
			&.selected, &:hover {
				color: var(--link-hover-color);
			}
		}
	}
}

main {
	nav {
		padding: var(--spacing) 0;
	}
}

main + footer {
	hr {
		border: none;
		color: var(--b_med);
		text-align: center;
		margin: 0;
		&:after {
			content: "•••";
		}
	}
}

footer {
	.social {
		display: inline-block;
		width: 50%;
		&:nth-of-type(2) {
			text-align: right;
		}
		a:not(:first-child) {
			padding-left: var(--spacing);
		}
	}
}

.social, .webrings {
	a:not(:hover) {
		color: var(--fg);
	}
}
.webrings > * {
	padding-top: var(--spacing);
	display: block;
	font-style: normal;
}