.linkroll {
	ul {
		columns: 3 auto;
	}
	img[src*="http"] {
		display: none;
	}
}

@media (max-width: 600px) {
	.linkroll {
		ul {
			columns: initial;
		}
	}
}

dt, dd {
	margin-top: .5em;
}
dd {
	margin-left: 2em;
}

#all-slashes {
	dt:not(:has(a)) { display: none }
	&:target { dt { display: block } }
}

.TODO {
	h2 + ul li { color: var(--b_high) }
}

// Add line number to code blocks
pre code div {
	counter-increment: line-number;
	&:hover { background: var(--f_inv) }
	&:target {
		background: var(--b_low);
		outline: 1px solid var(--f_med);
	}
	a {
		display: inline-block;
		padding-right: 1em;
		text-align: right;
		width: 6ch;
		opacity: .5;
		&:before { content: counter(line-number) }
	}
}