.linkroll {
	ul {
		columns: 3 auto;
	}
	img[src*="http"] {
		display: none;
	}
}

@media (max-width: 600px) {
	.linkroll {
		ul {
			columns: initial;
		}
	}
}

#all-slashes {
	h2:not(:has(a)) {
		display: none
	}
	&:target {
		h2 {
			display: block;
		}
	}
}