.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: .75em;
	a {
		display: inline-block;
		max-width: 160px;
	}
	img {
		aspect-ratio: 1/1;
		object-fit: cover;
		width: 100%;;
		height: auto;
		border: 2px solid transparent;
		border-radius: .5em;
		&:hover {
			border-color: var(--fg);
		}
	}
}