@use "mixin";

// Fallback tested on netsurf
.posters {
	.h-entry {
		display: inline-block;
		max-width: 125px;
		padding: 0 .5em .5em 0;
	}
}

@supports (display: grid) {
	.posters {
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(110px,1fr));
		gap: var(--gap);
		nav, h2, h3 {
			grid-column: 1 / -1;
		}
		.h-entry {
			// cleanup
			display: initial;
			max-width: initial;
			padding: initial;
		}
		nav > * {
			display: inline-block;
		}
	}
	.cols .posters {
		grid-template-columns: repeat(auto-fit,minmax(75px,1fr));
	}
}

.posters {
	.h-entry {
		text-align: center;
		vertical-align: top;
	}
	.review-icons img.sm {
		height: 1rem;
	}
	.menu {
		display: inline-block;
	}
}
.poster {
	display: block;
	max-width: 200px;
	margin: 0em auto;
	text-align: center;
	figure {
		position: relative;
		background: var(--b_low);
		overflow: hidden;
	}
	figcaption {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		opacity: 0;
		background: rgba(0,0,0,0.6);
		color: white;
		padding: .4em;
		overflow: hidden;
		word-wrap: break-word;
		visibility: hidden; // To hide in netsurf
		@include mixin.transition(all .3s ease-in);
	}
	&:hover {
		figcaption {
			visibility: visible;
			opacity: 1;
		}
	}
	img {
		object-fit: cover;
		object-position: center;
		aspect-ratio: 0.675;
		width: 100%;
	}
}

.p-rating {
	color: var(--yellow);
	a {
		color: inherit;
		padding: 0 .2em;
		&:hover {
			background: var(--b_med);
			border-radius: .3em;
		}
	}
}
