
@import "mixin";

html.swag {
	h1, h2, h3, h4, h5, p, a, ul, li, tr, i:before, pre > code, .p-summary, details, span, time {
		text-decoration: none;
		color: var(--fg);
		background-size: 300% 100%;

		@include text-fill-color(transparent);
		@include background-clip(text);
		@include transition(all .15s cubic-bezier(0.68, -0.25, 0.265, 1.25));

		background-image: linear-gradient(45deg, var(--gradient));

		@include animation('scroll-gradient 10s ease infinite');
	}

	a {
		font-weight: 700;
		opacity: 0.1;
		&:link, &:visited {
			opacity: 1;
		}
		&.selected, &:hover {
			text-decoration: underline dotted;
		}
		&:hover {
			i {
				&:before {
					@include transform(scale(1.3));
				}
			}
		}
	}
	pre {
		border-image: linear-gradient(45deg, var(--gradient)) 1;
	}
	code {
		@include text-fill-color(var(--highlight));
		color: var(--highlight);
	}
	div:not(.tag*) ul:not(.links) {
		margin-left: 0;
		li {
			&::marker {
				content: "";
			}
			&::before {
				content: "\25CF";
				padding-inline: 0 1ch;
			}
		}
	}
	.tags {
		li {
			background: var(--b_low) !important;
			border: 1px solid transparent;
			&:hover {
				border: 1px dashed var(--link-color);
			}
		}
	}
}

.dot {
	box-sizing: content-box;
	position: absolute;
	width: 2px;
	height: 2px;
	background: red;
	border: 2px solid var(--bg);
	cursor: pointer;
	z-index: 999;
}

// Gradient background on body
body.edge {
	padding: 5px;
	background-size: 300% 100%;
	background-image: linear-gradient(45deg, var(--gradient));
	@include animation('scroll-gradient 10s ease infinite');
}
