@import "mixin";

html.swag {
	h1, h2, h3, h4, h5, p, ul, li, tr, i:before, pre > code, .p-summary, details, span {
		text-decoration: none;
		color: var(--fg);
		text-shadow: 2px 2px 0 var(--b_med),
								3px 3px 0 var(--b_low);
	}
	a {
		text-decoration: underline dotted;
		color: var(--yellow);
		&.selected, &:hover {
			color: var(--f_med);
		}
	}
	img.svg {
		filter: drop-shadow(0 3px 0 var(--b_med));
	}
	a:has(img.svg) {
		&:hover {
			filter: drop-shadow(0 -2px 0 var(--highlight));
			img.svg {
				filter: var(--svg-default);
			}
		}
	}
	pre {
		border: none;
		box-shadow: 0 0 2px var(--highlight),
								0 0 4px var(--highlight),
								0 0 8px var(--highlight);
	}
	.tags {
		li {
			background: var(--yellow);
			a { color: var(--bg); }
			text-shadow: none;
			&:hover {
				background: var(--f_med);
			}
		}
	}
}

.dot {
	position: absolute;
	width: 3px; height: 3px;
	border: 2px solid var(--bg);
	background: red;
	cursor: pointer;
	z-index: 99;
}
