
@import "mixin";

html.swag {
	h1, h2, h3, h4, h5, p, a, ul, li, tr, i:before, pre > code, .p-summary, details, span, time {
		text-decoration: none;
		color: var(--fg);
		text-shadow: 0 0 3px var(--fg),
								0 0 6px var(--fg),
								0 0 18px var(--bg);
	}
	a {
		&, &:visited, &:active, &:link {
			text-shadow: 0 0 2px var(--highlight),
								0 0 4px var(--highlight),
								0 0 8px var(--highlight);
		}
		&.selected, &:hover {
			text-decoration: underline dotted;
			text-shadow: 0 0 4px var(--highlight),
								0 0 8px var(--highlight),
								0 0 16px var(--highlight);
		}
	}
	img.svg {
		filter: url(#neonglow);
		&:hover {
			filter: url(#neonglow2);
		}
	}
	pre {
		border: none;
		box-shadow: 0 0 4px var(--highlight),
								0 0 8px var(--highlight),
								0 0 16px var(--highlight);
	}
	.tags {
		li {
			background: none;
			box-shadow: 0 0 4px var(--highlight),
								0 0 8px var(--highlight),
								0 0 16px var(--highlight);
			&:hover {
				background: var(--link-hover-color);
			}
		}
	}
}

.dot {
	position: absolute;
	width: 6px; height: 6px;
	border: 2px solid var(--bg);
	background: red;
	cursor: pointer;
	z-index: 99;
}
