// created with https://github.com/hundredrabbits/Themes
@mixin sylveon {
	--background: #131415;
	--f_high: #fbfbfb;
	--f_med: #6ecff6;
	--f_low: #f492a5;
	--f_inv: #2a2b2c;
	--b_high: #8a8b8c;
	--b_med: #595a5b;
	--b_low: #424243;
	--b_inv: #fbfbfb;
	--yellow: #f4e985;
	--step-1: #85f490;
	--step-2: #85e5f4;
	--step-3: #f486b0;
	--step-4: #f7f086;
	--step-5: #71a8fe;
	--link-color: var(--f_med);
}
@mixin sylveon-light {
	--background: #f8f8ff;
	--f_high: #243638;
	--f_med: #0a77d8;
	--f_low: #c7416c;
	--f_inv: #e4e4e4;
	--b_high: #838a90;
	--b_med: #c5cfd8;
	--b_low: #dbe7f0;
	--b_inv: #5d5b5e;
	--yellow: #bd9b16;
	--step-1: #10851d;
	--step-2: #146e8a;
	--step-3: #bc1a46;
	--step-4: #99680f;
	--step-5: #2055f0;
	// font syntax highlighting colors don't look great in light mode
	--code-bg: #131415;
	--code-fg: #fbfbfb;
	--link-color: var(--f_med);
}