// created with https://github.com/hundredrabbits/Themes
@mixin sylveon {
	--background: #131415;
	--f_high: #fbfbfb;
	--f_med: #6ecff6;
	--f_low: #f492a5;
	--f_inv: #2a2b2c;
	--b_high: #8a8b8c;
	--b_med: #595a5b;
	--b_low: #424243;
	--b_inv: #fbfbfb;
	--yellow: #f4e985;
	// --step-1: #85f490;
	// --step-2: #85e5f4;
	// --step-3: #f486b0;
	// --step-4: #f7f086;
	// --step-5: #71a8fe;
	--step-1: #F1606D;
	--step-2: #6FC48D;
	--step-3: #F2D090;
	--step-4: #2A8FBD;
	--step-5: #ff9f19;
	--link-color: var(--f_med);
	--code-font-palette: --sylveon;
}
@mixin sylveon-light {
	// --background: #f8f8ff;
	--background: #eef5fa;
	--f_high: #243638;
	--f_med: #0a77d8;
	--f_low: #c7416c;
	--f_inv: #e4e4e4;
	--b_high: #838a90;
	--b_med: #c5cfd8;
	--b_low: #dbe7f0;
	--b_inv: #5d5b5e;
	--yellow: #bd9b16;
	// --step-1: #10851d;
	// --step-2: #146e8a;
	// --step-3: #bc1a46;
	// --step-4: #99680f;
	// --step-5: #2055f0;
	--step-1: #ee6e6e;
	--step-2: #169f48;
	--step-3: #c78c06;
	--step-4: #598bff;
	--step-5: #ff7a59;
	--link-color: var(--f_med);
	--code-font-palette: --sylveonLight;
}

@font-palette-values --sylveon {
	font-family: 'Monaspace';
	override-colors:
		0 #6ef596, /* keywords, {} */
		1 #666666, /* comments */
		2 #71a8fe, /* literals */
		3 #c5cfd8, /* numbers */
		4 #6ecff6, /* functions, [] */
		5 #f7f086, /* js others */
		6 black, /* not in use */
		7 #f492a5, /* inside quotes, css properties, few chars */
		8 #f55678 /* few chars */
	;
}
@font-palette-values --sylveonLight {
	font-family: 'Monaspace';
	override-colors:
		0 #2ea043, /* keywords, {} */
		1 #666666, /* comments */
		2 #1d4f91, /* literals */
		3 #595a5b, /* numbers */
		4 #2796ac, /* functions, [] */
		5 #b0497c, /* js others */
		6 black, /* not in use */
		7 #22863a, /* inside quotes, css properties, few chars */
		8 #d23c4b /* few chars */
	;
}