
.tags {
	text-align: left;
	li {
		list-style: none;
		display: inline-block;
		background: var(--grey);
		font-size: 0.8em;
		margin: 0.25em 0;
		padding: 0.2em 0.5em;
		border-radius: 0.25em;
		@include transition(background .3s ease-in-out);
		&:hover {
			cursor: pointer;
			background: var(--magenta);
			a {
				color: var(--bg);
			}
		}
	}
}

.tag-list {
	text-align: left;
	// columns: 11rem auto;
	&:not(&.tag-items) {
		li {
			list-style: none;
		}
	}
	&.tag-items {
		li {
			padding: .25em 0;
		}
	}
}

ul.links {
	li {
		display: inline-block;
	}
}
