.timeline {
	article {
		display: flex;
		gap: var(--gap);
		h2 {
			position: relative;
			&:before {
				content: '';
				width: 2px;
				position: absolute;
				left: 50%;
				top: 1em; bottom: -2rem;
				/* background: var(--fg); */
				background-image: radial-gradient(var(--fg) 1px, transparent 0);
				background-size: 6px 6px;
				background-position: center;
			}
		}
		&:last-of-type h2:before {
			display: none
		}
	}
}

@media only screen and (max-width: 600px) {
	.timeline article {
		display: block;
		h2 {
			&:before {
				display: none
			}
		}
	}
}