@use "sylveon";

:root {
	--font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--mono-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	color-scheme: dark light;
	--color-a: #acace6; // Maximum Blue Purple
	--color-b: #ffa368; // Mock Orange
	--color-f: #ffff99; // Canary Yellow
	--color-o: #fd7c6e; // Coral Reef
	--color-bk: #b0c4de; // Light Steel Blue
	// Dimensions
	--gap: .75em;
	--spacing: .5em;
}

#theme-switch {
	position: absolute;
	visibility: hidden;
}
label[for="theme-switch"] {
	position: absolute;
	top: 0; right: -.25em;
	cursor: pointer;
}

@mixin dark-mode {
	@include sylveon.sylveon();
	#dark-switch { display: none }
	#light-switch { display: initial }
	.xxiivv { filter: none }
}
@mixin light-mode {
	@include sylveon.sylveon-light();
	#dark-switch { display: initial }
	#light-switch { display: none }
	.xxiivv { filter: invert(1) }
}

// Default to dark mode
:root {
	@include dark-mode();
}
// `data-theme` isn't set by default or if JS is disabled
// Toggle theme based on input `checked` state
html:not([data-theme]) {
	#theme-switch:checked ~ .wrapper {
		@include light-mode();
	}
	@media (prefers-color-scheme: light) {
		@include light-mode();
		// If toggle selected in light mode, switch to dark
		#theme-switch:checked ~ .wrapper {
			@include dark-mode();
		}
	}
}
// Switch theme depending on the input settings (with JS)
html[data-theme="light"] {
	@include light-mode();
}
// Not necessary since this is the default but here for clarity
html[data-theme="dark"] {
	@include dark-mode();
}

.wrapper {
	--bg: var(--background);
	--fg: var(--f_high);
	--accent: var(--f_med);
	--highlight: var(--f_low);
	--link-color: var(--accent);
	--link-hover-color: var(--highlight);
	--link-disabled-color: var(--b_high);
}

.e-content {
	a[href="/tags/a"], a[href="/tags/b"],
	a[href="/tags/f"], a[href="/tags/o"],
	a[href="/tags/bk"] {
		color: #131415;
		padding: 0 .25em;
		padding: 0 .25em;
		border-radius: 5px;
	}
}

mark[data-person] { color: #131415 }
.e-content a[href="/tags/a"], mark[data-person="a"] { background-color: var(--color-a) }
.e-content a[href="/tags/b"], mark[data-person="b"] { background-color: var(--color-b) }
.e-content a[href="/tags/f"], mark[data-person="f"] { background-color: var(--color-f) }
.e-content a[href="/tags/o"], mark[data-person="o"] { background-color: var(--color-o) }
.e-content a[href="/tags/bk"], mark[data-person="bk"] { background-color: var(--color-bk) }
