@import "sylveon";

:root {
	--font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--mono-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	color-scheme: dark light;
	--color-a: #acace6; // Maximum Blue Purple
	--color-b: #ffa368; // Mock Orange
	--color-f: #ffff99; // Canary Yellow
	--color-o: #fd7c6e; // Coral Reef
	--color-bk: #b0c4de; // Light Steel Blue
}

#theme-switch {
	position: absolute;
	opacity: 0.001;
}
label[for="theme-switch"] {
	position: absolute;
	top: 0; right: -.25em;
	cursor: pointer;
}

@mixin dark-mode() {
	#dark-switch { display: none }
	#light-switch { display: initial }
}
@mixin light-mode() {
	#dark-switch { display: initial }
	#light-switch { display: none }
}

:root { color-scheme: dark; @include sylveon(); }
@include dark-mode();
#theme-switch:checked {
	~ .wrapper {
		color-scheme: light; @include sylveon-light();
		@include light-mode();
	}
}
html[data-theme="dark"] {
	color-scheme: dark; @include sylveon();
	@include dark-mode();
}
html[data-theme="light"] {
	color-scheme: light; @include sylveon-light();
	@include light-mode();
}
@media (prefers-color-scheme: light) {
	:root:not([data-theme]) {
		color-scheme: light; @include sylveon-light();
		@include light-mode();
		#theme-switch:checked {
			~ .wrapper {
				color-scheme: dark; @include sylveon();
				@include dark-mode();
			}
		}
	}
}

.wrapper {
	--bg: var(--background);
	--fg: var(--f_high);
	--accent: var(--f_med);
	--highlight: var(--f_low);
	--link-color: var(--accent);
	--link-hover-color: var(--highlight);
	--link-disabled-color: var(--b_high);
}

.e-content {
	a[href="/tags/a"], a[href="/tags/b"],
	a[href="/tags/f"], a[href="/tags/o"],
	a[href="/tags/bk"] {
		color: #131415;
		padding: 0 .25em;
		padding: 0 .25em;
		border-radius: 5px;
	}
	a[href="/tags/a"] { background-color: var(--color-a) }
	a[href="/tags/b"] { background-color: var(--color-b) }
	a[href="/tags/f"] { background-color: var(--color-f) }
	a[href="/tags/o"] { background-color: var(--color-o) }
	a[href="/tags/bk"] { background-color: var(--color-bk) }
}

// TODO: maybe remove this if not used
mark[data-person] { color: #131415; }
mark[data-person="a"] { background-color: var(--color-a); }
mark[data-person="b"] { background-color: var(--color-b); }
mark[data-person="f"] { background-color: var(--color-f); }
mark[data-person="o"] { background-color: var(--color-o); }
mark[data-person="bk"] { background-color: var(--color-bk); }