@use "sylveon";

:root {
	--font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--mono-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	color-scheme: dark light;
	--color-a: #acace6; // Maximum Blue Purple
	--color-b: #ffa368; // Mock Orange
	--color-f: #ffff99; // Canary Yellow
	--color-o: #fd7c6e; // Coral Reef
	--color-bk: #b0c4de; // Light Steel Blue
	// Default Theme
	@include sylveon.sylveon();
}

#theme-switch {
	position: absolute;
	visibility: hidden;
}
label[for="theme-switch"] {
	position: absolute;
	top: 0; right: -.25em;
	cursor: pointer;
}

@mixin dark-mode() {
	#dark-switch { display: none }
	#light-switch { display: initial }
}
@mixin light-mode() {
	@include sylveon.sylveon-light();
	#dark-switch { display: initial }
	#light-switch { display: none }
	.xxiivv { filter: invert(1) }
}

@include dark-mode();
html[data-theme="light"], html:not([data-theme="dark"]) #theme-switch:checked ~ .wrapper {
	@include light-mode()
}
@media (prefers-color-scheme: light) {
	html:not([data-theme="dark"]) {
		@include light-mode();
		#theme-switch:checked ~ .wrapper {
			@include sylveon.sylveon();
			@include dark-mode()
		}
	}
}

.wrapper {
	--bg: var(--background);
	--fg: var(--f_high);
	--accent: var(--f_med);
	--highlight: var(--f_low);
	--link-color: var(--accent);
	--link-hover-color: var(--highlight);
	--link-disabled-color: var(--b_high);
}

.e-content {
	a[href="/tags/a"], a[href="/tags/b"],
	a[href="/tags/f"], a[href="/tags/o"],
	a[href="/tags/bk"] {
		color: #131415;
		padding: 0 .25em;
		padding: 0 .25em;
		border-radius: 5px;
	}
}

mark[data-person] { color: #131415 }
e-content a[href="/tags/a"], mark[data-person="a"] { background-color: var(--color-a) }
e-content a[href="/tags/b"], mark[data-person="b"] { background-color: var(--color-b) }
e-content a[href="/tags/f"], mark[data-person="f"] { background-color: var(--color-f) }
e-content a[href="/tags/o"], mark[data-person="o"] { background-color: var(--color-o) }
e-content a[href="/tags/bk"], mark[data-person="bk"] { background-color: var(--color-bk) }
