@use "reset";

@use "fallback";
@use "variables";
@use "fonts";

@use "swag";

@use "app";
@use "navs";
@use "feed";
@use "entry";
@use "tags";
@use "pages";
@use "posters";
@use "photos";
@use "timeline";
@use "egg";
@use "heart";
@use "mixin";
@use "fun";

a[href^="https://sparkles.sploot.com"] {
	&:after {
		content: url('https://sparkles.sploot.com/assets/logo.svg');
		display: inline-block;
		height: 16px;
		width: 16px;
		margin-left: 5px;
	}
}

details.h-card {
	padding: .75em;
	display: inline-block;
	border: 2px solid transparent;
	width: 250px;
	margin: 0 auto;
	summary {
		list-style-type: '';
		position: relative;
		blockquote { display: none }
	}
	.u-photo {
		width: 100px;
		padding: .25em;
		border-radius: 50%;
		border: 2px solid var(--fg);
		aspect-ratio: 1/1;
		@include mixin.transition(border .3s ease-in-out)
	}
	&[open] {
		border-color: var(--fg);
		border-radius: .3em;
		box-shadow: .3em .3em 0;
	}
	ul { padding: 0 }
	ul, .text-center { margin: .5em 0 }
	p { margin: 0 }
}

.h-card:has(online-now[value='online']) img {
	animation: borderBlink 2s infinite;
}
@keyframes borderBlink {
	from, to { border-color: transparent }
	50% { border-color: var(--color-b) }
}

.bubble {
	display: none;
	position: absolute;
	top: -25px; left: -50px;
	background: white;
	color: black;
	border-radius: 3em;
	border: none;
	padding: 1em;
	border: 2px solid black;
	&:before, &:after {
		content: '';
		position: absolute;
		width: 0; height: 0;
	}
	&:before {
		right: 15px;
		bottom: -16px;
		border: 8px solid;
		border-color: black black transparent transparent;
	}
	&:after {
		right: 17px;
		bottom: -10px;
		border: 6px solid;
		border-color: white white transparent transparent;
	}
}

.h-card:has(online-now[value='online']) .bubble {
	display: block;
}

.matrix {
	display: inline-block;
	color: #03A062;
	font-family: monospace;
	font-weight: bold;
}
.typewriter {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s steps(18) 2s forwards;
	width: 0;
}
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}
