
@mixin lightTheme() {
	--bg: #f9fafa;
	--fg: #5d5b5e;
	--red: #c85982;
	--green: #5cc89a;
	--yellow: #cea66f;
	--blue: #6898CE;
	--magenta: #d67b8f;
	--cyan: #637bb2;

	--grey: #bdbdbd;
	--comment: #5d5b5e;
}

html.sylveon {
	--bg: #131415;
	--fg: #ffffff;
	--red: #f48596;
	--green: #85f490;
	--yellow: #f4e985;
	--blue: #85caf4;
	--magenta: #f485b0;
	--cyan: #85e4f4;

	--grey: #595a5b;
	--comment: #7a8086;

	--link-color: var(--cyan);
	--link-hover-color: var(--magenta);
	--link-disabled-color: var(--grey);

	// @media (prefers-color-scheme:light) {
	// 	@include lightTheme;
	// }
	&.light {
		@include lightTheme;
	}
}