
@mixin lightTheme() {
	--bg: #f9fafa;
	--fg: #5d5b5e;
	--red: #c85982;
	--green: #5cc89a;
	--yellow: #cea66f;
	--blue: #6898CE;
	--magenta: #d67b8f;
	--cyan: #637bb2;

	--grey: #bdbdbd;
	--comment: #5d5b5e;
}

html.sylveon {
	--bg: #131415;
	--fg: #ffffff;
	--red: #f55678;
	--green: #6ef596;
	--yellow: #f7f086;
	--blue: #71a8fe;
	--magenta: #f27b92;
	--cyan: #56c7f5;

	--grey: #464646;
	--comment: #888888;

	--link-color: var(--cyan);
	--link-hover-color: var(--magenta);
	--link-disabled-color: var(--grey);

	// @media (prefers-color-scheme:light) {
	// 	@include lightTheme;
	// }
	&.light {
		@include lightTheme;
	}
}