---
title: reads
layout: layouts/base.njk
permalink: "read/"
feedURL: "/read.xml"
years:
  - 2024
  - 2023
  - 2022
---
<section>
	<h1>{{ title }}{%- if feedURL %}<a href="{{ feedURL }}" title="RSS Feed">{% svg "icons.svg#rss-simple", "RSS feed" %}</a>{% endif -%}</h1>
	{%- set relatedTag = 'books' %}
	{% include "partials/related.njk" %}
	{%- set started = collections['read:started'] | reverse -%}
	{%- if started.length %}
	<div class="h-feed posters">
		<h2>Reading</h2>
		{%- for entry in started %}
		{%- include "partials/book.njk" -%}
		{%- endfor %}
	</div>
	{%- endif %}
	{%- set finished = collections.read | reverse | byDataProperty('progress', 'finished') %}
	{%- set year = '' %}
	{%- if finished.length %}
	<div class="h-feed posters">
		<nav><h2>Read</h2>{% for y in years %} • <a class="{{ 'selected' if y == years[0] }}" href="/read/{{ y }}">{{ y }}</a>{% endfor %}</nav>
		{%- for entry in finished %}
			{%- set watchedYear = entry.date | dateToFormat('yyyy') %}
			{%- if watchedYear == years[0] %}
			{%- include "partials/book.njk" -%}
			{%- endif %}
		{%- endfor %}
	</div>
	{%- endif %}
	{%- set want = collections['read:want'] | reverse %}
	{%- if want.length %}
	<div class="h-feed posters">
		<h2>Want to Read</h2>
		{%- for entry in want %}
		{%- include "partials/book.njk" -%}
		{%- endfor %}
	</div>
	{%- endif %}
</section>