---
layout: "base.njk"
eleventyExcludeFromCollections: true
pagination:
  data: years
  size: 1
  alias: year
permalink: "/read/{{ year | slugify }}/"
years:
  - 2022
  - 2023
---
{%- set entries = collections.read | reverse | byDataProperty('progress', 'finished') | byYear(year) -%}
<section class="page-wrapper">
	<h1>read: {{ year }} ({{ entries | length }})</h1>
	{%- if entries.length %}
	<div class="h-feed posters">
		<div style="padding: 1em 0;"><a href="/read">all</a> • <a class="{{ 'selected' if year == 2023 }}" href="/read/2023">2023</a> • <a class="{{ 'selected' if year == 2022 }}" href="/read/2022">2022</a></div>
		{%- for entry in entries %}
		{%- include "ui/book.njk" -%}
		{% endfor -%}
	</div>
	{% endif -%}
</section>