---
layout: layouts/base.njk
pagination:
  data: years
  size: 1
  alias: year
permalink: "/read/{{ year | slugify }}/"
years:
  - 2024
  - 2023
  - 2022
---
{%- set entries = collections.read | reverse | byDataProperty('progress', 'finished') | byYear(year) -%}
<section>
	<h1>read: {{ year }} ({{ entries | length }})</h1>
	{%- if entries.length %}
	<div class="h-feed posters">
		<div><h2></h2><a href="/read">all</a>{% for y in years %} • <a class="{{ 'selected' if year == y }}" href="/read/{{ y }}">{{ y }}</a>{% endfor %}</div>
		{%- for entry in entries %}
		{%- include "partials/book.njk" -%}
		{% endfor -%}
	</div>
	{% endif -%}
</section>