<a class="p-name u-url u-uid" href="{{ metadata.url }}" rel="me">{{ metadata.author.name }}</a>
<a class="u-url" href="acct:benji@benji.dog"></a>
<img class="u-photo" src="{{ metadata.author.photo }}" alt="benji">
{% if metadata.author.banner %}<img class="u-featured" src="{{ metadata.author.banner }}" alt="banner">{% endif %}
<a class="u-email" href="mailto:{{ metadata.author.email }}">{{ metadata.author.email }}</a>
<a class="u-key" rel="pgpkey" type="application/pgp-keys" href="/pub.asc">7EBF 284E 2F90 ABB9</a>
<p class="p-note">{{ metadata.description }}</p>