<div class="h-entry">
	{%- if entry.data['summary'] -%}
	<p hidden class="p-summary">{{ entry.data['summary'] }}</p>
	{%- endif -%}
	{%- set poster = entry.data['read-of'].properties -%}
	{%- set posterType = 'u-read-of' -%}
	{%- include "partials/poster.njk" -%}
</div>