{%- set status = {
	want: 'Want to read',
	started: 'Reading',
	finished: 'Read',
	stopped: 'Did Not Finish'
} -%}
<div class="h-entry">
	{%- if entry.data['summary'] -%}
	<p hidden class="p-summary">{{ entry.data['summary'] }}</p>
	{%- endif -%}
	<data hidden class="p-x-progress" value="{{ entry.data['progress'] }}">{{ status[entry.data['progress']] }}</data>
	{%- set poster = entry.data['read-of'].properties -%}
	{%- set posterType = 'u-read-of' -%}
	{%- include "partials/poster.njk" -%}
</div>