<article class="h-entry">
	{% include "partials/entry/details.njk" %}
	{%- if likeOf -%}
		{%- set entryType = 'like' %}
		{% include "partials/entry/like.njk" %}
	{%- elif bookmarkOf -%}
		{%- set entryType = 'bookmark' %}
		{% include "partials/entry/bookmark.njk" %}
	{%- elif rsvp -%}
		{%- set entryType = 'rsvp' %}
		{% include "partials/entry/rsvp.njk" %}
	{%- elif readOf %}
		{%- set entryType = 'read' %}
		{%- set cite = readOf %}
		{% include "partials/entry/read.njk" %}
	{%- elif watchOf %}
		{%- set entryType = 'watched' %}
		{%- set cite = watchOf %}
		{% include "partials/entry/watch.njk" %}
	{%- elif listenOf %}
		{%- set entryType = 'listens' %}
		{%- set cite = listenOf %}
		{% include "partials/entry/listen.njk" %}
	{%- elif pageTitle -%}
		{%- set entryType = 'article' %}
		{% include "partials/entry/article.njk" %}
	{%- else -%}
		{%- set entryType = 'reply' if replyTo else 'note' %}
		{%- include "partials/entry/note.njk" %}
	{%- endif -%}
	{%- if visibility == 'private' %}
	<aside>
		<p>This post is secret.</p>
		<p>It is only available for people who follow my <a href="/feed.xml">RSS feed {% svg "icons.svg#rss-simple", "RSS Feed" %}.</p>
		<p>Learn more about <a href="https://daverupert.com/rss-club/">RSS Club</a>.</p>
	</aside>
	{%- endif %}
	{% if pageContent and not (entryType == 'article' and isFeed) %}<div class="e-content">{{ pageContent | safe }}</div>{% endif %}
	{%- if isFeed %}
	{% include "partials/feed-footer.njk" %}
	{%- else %}
	{% include "partials/entry/footer.njk" %}
	{%- endif %}
</article>