<div class="footer-details">
	<span>Posted in&nbsp;
	{%- include "partials/icon.njk" -%}
	&nbsp;-&nbsp;</span>
	<a class="u-url" href="{{ entry.url }}"><time class="dt-published" datetime="{{ entry.date | dateISO }}">{{ entry.date | dateString }}</time></a>
</div>