<footer class="text-right">
{%- if entry.data.tags | length %}
	<ul hidden>
		{%- for tag in entry.data.tags %}
		<li><a class="p-category" href="/tag/{{ tag | slugify }}">{{ tag }}</a></li>
		{%- endfor %}
	</ul>
{% endif -%}
	<span>Posted in&nbsp;
	{%- include "partials/icon.njk" -%}
	&nbsp;-&nbsp;</span><a
		class="u-url" href="{{ entry.url }}"><time class="dt-published" datetime="{{ entry.date | dateISO }}">{{ entry.date | dateString }}</time></a>
</footer>