<div class="h-feed pad-sm">
	{%- for entry in entries %}
		{%- set isFeed = true -%}
		{%- set postType = entry.data.postType %}
		{%- include "partials/entry.njk" -%}
		<hr />
	{%- else %}
	<h4>There are no entries</h4>
	{% endfor %}
</div>