<section>
	<h1>{{ title }}{%- if feedURL %}<a href="{{ feedURL }}" title="RSS Feed"><img class="svg sm" src="/assets/phosphor/rss-simple.svg" alt="RSS feed"/></a>{% endif -%}</h1>
	{%- set relatedTag = 'movies' -%}
	{%- include "partials/related.njk" -%}
	<div class="h-feed posters">
		{%- for entry in entries %}
			{%- set watched = entry.data['watch-of'].properties -%}
			{%- set watchedYear -%}{{ entry.date | dateToFormat('yyyy') }}{%- endset -%}
			{%- set watchedMonth -%}{{ entry.date | dateToFormat('MMM') }}{%- endset -%}
			{%- if watchedYear != year %}
			{%- set year = watchedYear -%}
			<h2><a href="/watched/{{ year }}/">{{ year }}</a></h2>
			{%- endif -%}
			{%- if watchedMonth != month %}
			{%- set month = watchedMonth -%}
			<h3>{{ month }}</h3>
			{%- endif -%}
			{%- include "partials/movie.njk" -%}
		{%- endfor -%}
	</div>
</section>