<div class="u-author h-card">
	<a class="u-url u-uid" href="{{ metadata.author.url }}">
		<img class="u-photo p-name" src="{{ metadata.author.photo }}" alt="{{ metadata.author.name }}">
	</a>
	<a class="u-url" href="acct:benji@benji.dog"></a>
</div>
