{%- if entryType == 'like' -%}
	<a class="post-type" href="/likes"><img class="svg sm" src="/assets/phosphor/star.svg" alt="Likes"/></a>
{%- elif entryType == 'bookmark' -%}
	<a class="post-type" href="/bookmarks"><img class="svg sm" src="/assets/phosphor/bookmark-simple.svg" alt="Bookmarks"/></a>
{%- elif entryType == 'rsvp' -%}
	<a class="post-type" href="/rsvp"><img class="svg sm" src="/assets/phosphor/calendar.svg" alt="RSVPs"/></a>
{%- elif entryType == 'read' -%}
	<a class="post-type" href="/read"><img class="svg sm" src="/assets/phosphor/book.svg" alt="Read"/></a>
{%- elif entryType == 'watched' -%}
	<a class="post-type" href="/watched"><img class="svg sm" src="/assets/phosphor/film-slate.svg" alt="Watched"/></a>
{%- elif entryType == 'article' -%}
	<a class="post-type" href="/articles"><img class="svg sm" src="/assets/phosphor/newspaper.svg" alt="Articles"/></a>
{%- elif entryType == 'reply' -%}
	<a class="post-type" href="/replies"><img class="svg sm" src="/assets/phosphor/arrow-bend-up-left.svg" alt="Replies"/></a>
{%- else -%}
	<a class="post-type" href="/notes"><img class="svg sm" src="/assets/phosphor/note.svg" alt="Notes"/></a>
{%- endif -%}