<div class="h-entry">
	{%- if entry.data['summary'] -%}
	<p hidden class="p-summary">{{ entry.data['summary'] }}</p>
	{%- endif -%}
	{%- set poster = entry.data['watch-of'] -%}
	{%- set posterType = 'u-watch-of' -%}
	{%- include "partials/poster.njk" -%}
	{%- if not skipIcons -%}
		{%- if entry.data['rating'] -%}
		<data class="p-rating" value="{{ entry.data['rating'] }}"><a href="/watched/rated/{{ entry.data['rating'] | float }}">{{ entry.data['rating'] | toStars }}</a></data>
		{%- endif -%}
		<div class="review-icons">
			{%- if entry.data['rewatch'] == true or entry.data['rewatch'] == "true" -%}
			{% svg "icons.svg#repeat", "Rewatched", "", 20 %}
			{%- endif -%}
			{%- if entry.templateContent -%}
			{% svg "icons.svg#text-align-left", "Reviewed", "", 20 %}
			<p class="e-content" hidden>{{ entry.templateContent | striptags | trim | safe }}</p>
			{%- endif -%}
		</div>
	{%- endif -%}
	{%- if entry.data['syndication'] -%}
	<a rel="syndication noreferrer" class="u-syndication" href="{{ entry.data['syndication'] }}"></a>
	{%- endif -%}
</div>