{%- if pagination.pages.length > 1 %}
<footer class="text-center">
	<a {% if pagination.href.previous %}href="{{ pagination.href.previous }}"{% endif %} rel="prev">←</a><!--
	--><a {% if pagination.href.next %}href="{{ pagination.href.next }}"{% endif %} rel="next">→</a>
</footer>
{% endif -%}