{%- set currentPage = title -%}
<nav class="text-center">
	{% for postType in [ 'article', 'bookmark', 'like', 'note', 'read', 'reply', 'rsvp', 'watched' ] -%}
	{% include "partials/icon.njk" %}
	{%- endfor %}
</nav>