{%- set imgAlt -%}
	{{- poster.name -}}
	{%- if poster.author -%}
	&nbsp;by {{ poster.author }} cover
	{%- elif poster.published -%}
	&nbsp;({{ poster.published }}) poster
	{%- endif -%}
{%- endset -%}
<a class="poster u-url" href="{{ entry['url'] }}">
	<div class="{{ 'u-review-of' if entry.data['rating'] else (posterType or 'p-item') }} h-cite">
		<figure>
			<img class="u-photo" src="{{ poster.photo }}" alt="{{ imgAlt | safe }}" loading="lazy" width="105">
			<figcaption class="p-name">{{ poster.name }}</figcaption>
		</figure>
		<ul hidden>
			{%- if poster.author -%}
			<li class="p-author">{{ poster.author }}</li>
			{%- elif poster.published -%}
			<li class="dt-published">&nbsp;{{ poster.published }}</li>
			{%- endif -%}
		</ul>
	</div>
	{%- if entry.date -%}
	<time class="dt-published" datetime="{{ entry.date | dateISO }}" hidden>{{ entry.date | dateString }}</time>
	{%- endif -%}
</a>