{%- set currentPage = title -%}
<ul class="links text-center">
	{% for entryType in [ 'article', 'bookmark', 'like', 'note', 'read', 'reply', 'rsvp', 'watched' ] -%}
	<li>{% include "partials/icon.njk" %}</li>
	{%- endfor %}
</ul>